<ion-view title="Change Nric No" class="bg-lightgrey">

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="has-header materialize" scroll="true">
        <ion-list>
            
            <form name="form" novalidate>
                <div class="item item-divider">Nric No</div>
                <div class="row">
                    <div class="input-field col">
                        <input ng-model="nircno.nircNo" placeholder="Enter Nric Number" type="text" class="validate" name="nircNo" ng-pattern="/^[.0-9-/ ]*$/" maxlength="16" value="{{nircno.nircNo}}">
                        <font color="red" style="font-size: 10px"><span ng-show="form.nircNo.$invalid">Please fill with Number</span></font>
                    </div>
                </div>        

                <div class="item item-divider">Document</div>
                <div class="row" ng-show="appMode=='mobile'">
                      <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i class="icon ion-ios-camera-outline"></i> Add Attachment</button>
                </div>
                <div class="row" ng-show="appMode=='web'">
                        <input id="inputImage" type="file" accept="image/*" ng-model="nircno.imagesData" image="nircno.imagesData" resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg" multiple="multiple" ng-image-compress/> 
                </div>
                <div class="row post" ng-show="appMode=='mobile'" >
                      <div class="col" style="height:90px;width:90px" ng-repeat="items in nircno.images" >
                        <img height="90px" width="90px"   ng-src="{{items.image}}" /> 
                        
                        <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button></div>
                     
                </div>
                <div class="row post" ng-show="appMode=='web'">
                
                <div class="col" ng-repeat="item in nircno.imagesData" style="height:90px;width:90px"  >
                    <img  ng-src="{{item.compressed.dataURL}}" height="90px" width="90px" /> <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                </div>

                </div>
                <div class="row center" ng-show="appMode=='mobile'">
                    <div class="col" style="max-height:90px;max-width:90px" ng-if="nircno.imagesData.length==0"><a >
                        <img ng-src="{{image}}" height="90px" >
                        
                    </a></div>
                </div>
                <div class="row center" ng-show="appMode=='web'">
                     <div style="max-height:90px;max-width:90px" class="col"  ng-if="nircno.imagesData==0">
                        <img ng-src="{{image}}" height="90px" >
                        
                    </div>
                </div>
                <div class="row" style="padding-top:50px">
                    <button  ng-disabled="form.$invalid || nircno.nircNo.length < 16 || statusApproval != null" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="send()">Send</button>
                </div>
            </form>
        </ion-list>

    </ion-content>
</ion-view>