<ion-view title="Menu DPA">
       
<style>

    .left {
        text-align: left;
        float: left;
        width: 50%;
    }
    .right {
        text-align: right;
        float: right;
        width: 50%;
    }
    .thicker {
        font-weight: bold;
    }
</style>
   
 	<ion-content padding="true" class="has-header materialize" scroll="false">
                <div class="row text-center" style="height:40px">
                    <div class="col font-thin" ng-click="goTo('app.menudpa')"><b>Request</b></div>
                    <div class="col font-thin text-medium balanced bb" ng-click="goTo('app.menudpalist')"><b>List</b></div>
 	 </div>  

<ion-scroll class="bg-lightgrey" direction="y" style="height:100%">

 <ion-refresher pulling-text="Pull to refresh"
     refreshing-text="Loading..."
     refreshing-icon="ion-loading-c"
     pulling-icon="ion-ios7-arrow-thin-down"
     on-refresh="refresh()">
</ion-refresher>

    <div class="item item-text-wrap"  ng-repeat="item in requests" ui-sref="app.detailrequest({id: item.id})">
        <div class="row">
            <div class="left"><h5 style="color: #949494;">{{item.createdDate | date: 'dd MMM yyyy'}}</h5></div>
            <div class="right" ng-if="item.processingStatus != 'Request'"><h5 class="energized ">{{item.processingStatus}}</h5></div>
            <div class="right" ng-if="item.processingStatus == 'Request'"><h5><strong>waiting for approval</strong></h5></div>
        </div>
        <div class="row">
            <div class="uppercase"><h2 class="thicker" >{{item.description}}</h2></div>
        </div>
	</div>
    <div class="item" ng-if="requests.length == 0" >
            <div class="col col-100">
                <h2>Data not found</h2>
                <p>Please Pull to refresh !</p>
            </div>  
    </div>


</ion-scroll>
    
        </ion-content>
</ion-view>