<ion-view title="My Company">
     <ion-content class="has-header" scroll="true">
        <ion-refresher pulling-text="Pull to refresh"
             refreshing-text="Loading..."
             refreshing-icon="ion-loading-c"
             pulling-icon="ion-ios7-arrow-thin-down"
             on-refresh="refresh()">
        </ion-refresher>
        <div class="card hybrid">
            <div class="item item-thumbnail-left item-text-wrap" >
                <img style="max-width:auto" ng-src="img/talents/logoacc.png">
                <h4><b>{{company.name}}</b></h4>
                <p class="text-small" >{{company.address}}</p>
                <p class="text-small" >{{company.telephone}}</p>
            </div>

        </div>
        <div class="item item-divider">Branch Office</div>
        <div class="note note-info padding" style="margin:10px;" ng-if="branchOffice.length === 0">
            <h2 class="positive">No Branch Office</h4>
            <p class="dark">There is no data to be displayed</p>
        </div>

        <div class="list">
            <div class="item item-text-wrap"  ng-repeat="item in company.listBranchCompany">

                <h2 class="lead">{{item.name}}</h2>
                <p class="text-small">{{item.address}}</p>
                <p class="text-small">{{item.telephone}}</p>

            </div>
            </div>
        </div>
    </ion-content>

</ion-view>
