<ion-view title="My HR" class="bg-lightgrey">

    <ion-content class="has-header bt-grey profile" scroll="true">

    <div class="card hybrid">
        <div class="item item-avatar item-text-wrap">
            <img ng-src="{{detail.photoProfile}}">
            <h2 class="lead text-small">{{detail.fullName}}</h2>
            <p style="text-small">{{detail.assignment.positionName}}</p>
        </div>
    </div>
    <div class="list">
            <div class="item item-text-wrap" >
                <h2 class="talents">Employee No</h2>
                <p class="text-small" >{{detail.assignment.employeeNo}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Place & Date of Birth</h2>
                <p class="text-small" >{{detail.birthPlace}}, {{birthDate}}</p>
                <!-- <p class="text-small" >{{detail.birthPlace}}, {{detail.birthDate}}</p> -->
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Marital Status</h2>
                <p class="text-small" >{{detail.maritalStatus}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Handphone</h2>
                <p class="text-small" >{{detail.mobilePhone}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Email</h2>
                <p class="text-small" >{{detail.officeMail}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Status</h2>
                <p class="text-small" >{{detail.assignment.employeeStatus}}</p>
            </div>
            <div class="item item-text-wrap" >
                <h2 class="talents">Join Date</h2>
                <p class="text-small" >{{hireDate}}</p>
            </div>
            
    </div>
   
        
    </ion-content>
</ion-view>