<ion-view title="Approval" class="bg-lightgrey">
  <ion-content class="has-header bg-lightgrey">
    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact" ui-sref="app.requestapproval({submodule:'Personalia'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_payslip.png"><br>
            <span class="text-small">Personalia </span>
            <span
              style="background-color: #C91914; color: #fff; z-index: 1; display: inline-block; padding: 3px 8px; min-width: 10px; border-radius: 10px; vertical-align: baseline; text-align: center; white-space: nowrap; font-weight: bold; font-size: 14px; line-height: 16px;">{{cntPersonalia}}</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <div class="card contact" ui-sref="app.requestapproval({submodule:'Benefit'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_benefit.png"><br>
            <span class="text-small">Benefit </span>
            <span style="background-color: #C91914; color: #fff; z-index: 1; display: inline-block; padding: 3px 8px;
              min-width: 10px; border-radius: 10px; vertical-align: baseline; text-align: center; white-space: nowrap;
              font-weight: bold; font-size: 14px; line-height: 16px;">{{cntBenefit}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact" ui-sref="app.requestapproval({submodule:'Attendance'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_timemanagement.png"><br>
            <span class="text-small">Attendance </span>
            <span style="background-color: #C91914; color: #fff; z-index: 1; display: inline-block; padding: 3px 8px;
              min-width: 10px; border-radius: 10px; vertical-align: baseline; text-align: center; white-space: nowrap;
              font-weight: bold; font-size: 14px; line-height: 16px;">{{cntAttendance}}</span>
          </div>
        </div>
      </div>
      <!-- <div class="col padding">
        <div class="card contact" ui-sref="app.requestapprovalsub({submodule:'SPD Advance'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_advance_42.png"><br>
            <span class="text-small">SPD Advance</span>
          </div>
        </div>
      </div> -->
      <div class="col padding">
        <div class="card contact" ui-sref="app.requestapprovalsub({submodule:'SPD'})"
          ng-if="profile.talentsAuthorities['SPD']">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_realization_42.png"><br>
            <span class="text-small">SPD </span>
            <span style="background-color: #C91914; color: #fff; z-index: 1; display: inline-block; padding: 3px 8px;
              min-width: 10px; border-radius: 10px; vertical-align: baseline; text-align: center; white-space: nowrap;
              font-weight: bold; font-size: 14px; line-height: 16px;">{{cntSpd}}</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
