<ion-view title="SPD" class="bg-lightgrey">
  <ion-content class="has-header bg-lightgrey">
    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact" ui-sref="app.spd-advance">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_advance_42.png"><br>
            <span class="text-small">Advance</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <div class="card contact" ui-sref="app.spd-realization">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_realization_42.png"><br>
            <span class="text-small">Realization</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
