<ion-view title="Payroll Account" class="bg-lightgrey">


  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="has-header materialize" scroll="true">
    <form name="form" novalidate>
      <div ng-if="dataAccountShow != 0 || dataAccountShow > 0 ">
        <div class="item item-divider">Bank Name</div>
        <div class="row">
          <div ng-if="detail.changeAccountName != null">
            {{detail.changeBankName}}
          </div>
          <div class="input-field col" ng-if="detail.changeAccountName == null">
            <select ng-model="requestHeader.populateData" ng-options="bank.name for bank in bankList track by bank.extId" required></select>
            <input ng-model="requestHeader.bankNameExtId" style="display: none;">
            <input ng-model="requestHeader.bankName" style="display: none;">
          </div>
        </div>
        <div class="item item-divider">Cabang Bank</div>
        <div class="row">
          <div ng-if="detail.changeAccountName != null">
            {{detail.changeBankBranch}}
          </div>
          <div class="input-field col" ng-if="detail.changeAccountName == null">
            <input ng-model="requestHeader.bankBranch" placeholder="Enter Bank Cabang" type="text" class="validate" name="bankCabang" required>
          </div>
        </div>
        <div class="item item-divider">Nama Account </div>
        <div class="row">
          <div ng-if="detail.changeAccountName != null">
            {{detail.changeAccountName}}
          </div>
          <div class="input-field col">
            <div ng-if="detail.accountName != null && detail.changeAccountName == null">
              <input ng-model="requestHeader.accountName" placeholder="Enter accountName" type="text" class="validate" name="accountName" ng-pattern="/^[a-zA-Z ]*$/" required>
            </div>

            <div ng-if="detail.accountName == null &&  detail.changeAccountName == null">
              <input ng-model="requestHeader.accountName" placeholder="Enter accountName" type="text" class="validate" name="accountName" ng-pattern="/^[a-zA-Z ]*$/">
            </div>
            <font color="red" style="font-size: 10px"><span ng-show="form.accountName.$invalid">Please fill with characters only</span></font>
          </div>
        </div>
        <div class="item item-divider">Nomor Account</div>
        <div class="row">
          <div ng-if="detail.changeAccountName != null">
            {{detail.changeBankAccount}}
          </div>
          <div class="input-field col">
            <div ng-if="detail.bankAccount != null  && detail.changeBankAccount == null">
              <input ng-model="requestHeader.bankAccount" placeholder="Enter bankAccount" type="text" class="validate" name="bankAccount" ng-pattern="/^[0-9]*$/" required>
            </div>

            <div ng-if="detail.bankAccount == null &&  detail.changeBankAccount == null">
              <input ng-model="requestHeader.bankAccount" placeholder="Enter bankAccount" type="text" class="validate" name="bankAccount" ng-pattern="/^[0-9]*$/">
            </div>

            <font color="red" style="font-size: 10px"><span ng-show="form.bankAccount.$invalid">Please fill with Number</span></font>
            
          </div>
        </div>
        <div ng-if="detail.changeAccountName == null">
          <div class="item item-divider">Attach Supporting Document</div>
          <div class="row" ng-show="appMode=='mobile'">
            <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i class="icon ion-ios-camera-outline"></i> Add Attachment</button>
          </div>
          <div class="row" ng-show="appMode=='web'">
            <input id="inputImage" type="file" accept="image/*" ng-model="requestHeader.imagesData" image="requestHeader.imagesData" resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg" multiple="multiple" ng-image-compress/ >
          </div>
          <div class="row post" ng-show="appMode=='mobile'">
            <div class="col" style="height:90px;width:90px" ng-repeat="items in requestHeader.images">
              <img height="90px" width="90px" ng-src="{{items.image}}" />
              <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
            </div>
          </div>
          <div class="row post" ng-show="appMode=='web'">
            <div class="col" style="height:90px;width:90px" ng-repeat="item in requestHeader.imagesData">
              <img height="90px" width="90px" ng-src="{{item.compressed.dataURL}}" />
              <button class="remove" ng-show="$last" ng-click="removeChoice()"  type="reset">-</button>
            </div>
          </div>
          <div class="row center" ng-show="appMode=='mobile'">
            <div class="col" style="max-height:90px;max-width:90px" ng-if="requestHeader.images.length==0">
              <img ng-src="{{image}}" height="90px">
            </div>
          </div>
          <div class="row center" ng-show="appMode=='web'">
            <div class="col" style="max-height:90px;max-width:90px" ng-if="requestHeader.imagesData==0">
              <img ng-src="{{image}}" height="90px">
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="detail.changeAccountName == null && detail.bankAccount != null">
        <button ng-disabled="form.$invalid" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="send(requestHeader.populateData.name,requestHeader.populateData.extId)">Send</button>&nbsp;
        <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" style="background: #FF0000;" ng-click="resetForm()">Reset</button>
      </div>


      <div class="row" ng-if="detail.changeAccountName == null && detail.bankAccount == null ">
        <button ng-disabled="form.$invalid || requestHeader.accountName == null || requestHeader.bankAccount == null" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="send(requestHeader.populateData.name,requestHeader.populateData.extId)">Send</button>&nbsp;
        <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" style="background: #FF0000;" ng-click="resetForm()">Reset</button>
      </div>

      <div class="row">
        <button  class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="getDataHistory()">History</button>
      </div>

    </form>
    
  </ion-content>
</ion-view>
