<ion-view title="Dashboard" cache-view="false">

    <ion-content class="has-header" scroll="true">
        <div class="item item-divider" >Headcount by Division</div>
        <ion-scroll class="bg-lightgrey padding" direction="y">
           <div style="height:350px">
            <div class="row bb-grey">
                <div class="col">
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="doughnut_data" chart-labels="doughnut_labels" width="80"
                        height="80">
                    </canvas>
                </div>
                

            </div>
         </div>
        <!-- </ion-scroll>-->
        <div class="item item-divider" style="display:none">Notification</div>
       
        </ion-scroll>
    </ion-content>

</ion-view>