<ion-view view-title="Request to Leave" class="header">

  <ion-content padding="true" class="has-header materialize" scroll="true" style="font-size:12px">
    <ion-list>

<style>
  .selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#41adf8;
  border:1px solid #3d4042;
}
.selectBox{
  width:140px;
  height:40px;
  border:0px;
  outline:none;
}

</style>
   
<form>

<ion-item>

</ion-item>

<ion-item>
 <div class="list">
  <center>
    <button class="button button-small button-stable btnMargin2">
    Used Leave
    </button>
    
    {{absents.Used}}
        <button class="button button-small button-stable btnMargin2">
    Available leave
    </button>
    
    {{absents.Available}}
    
  </center>

<br>

<ion-item>

<script>
  
  $(document).ready(function() {
    $('select').material_select();
  });
      

</script>


 <div class="input-label">Leave Type</div> 
        <select class="selectWrapper">
      <option value="" disabled selected></option>
      <option>Meeting</option>
      <option >Casual Leave</option>
      <option>Sick</option>

    </select>
</ion-item>



<script>
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

</script>


        

<!--
  <label class="item item-input item-stacked-label">
     <div class="input-field col">
     <label>Start Date & Time</label>
    <input type="text" ion-datetime-picker ng-model="">
    </div>
  </label>


  <label class="item item-input item-stacked-label">
    <span class="input-label">End Date & Time</span>
    <input type="text" ion-datetime-picker ng-model="">
  </label>
-->
<ion-item>
<label>Start Date</label>
  <div class="item" ion-datetime-picker ng-model="datetimeValue">
    {{datetimeValue| date: "yyyy-MM-dd H:mm:ss"}}
  </div>
</ion-item>

<ion-item>
<label>End Date</label>
  <div class="item" ion-datetime-picker ng-model="datetimeValue">
    {{datetimeValue| date: "yyyy-MM-dd H:mm:ss"}}
  </div>
</ion-item>

    </div>

  </label>

<ion-item>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Notes</label>
        </div>
      </div>
    </form>
  </div>
</ion-item>



<center ng-controller="PopupCtrl">

    <button class="button button-assertive btnMargin " ng-click="showConfirm4()">
    Reset
    </button>
    <button class="button button-positive btnMargin" ng-click="showConfirm3()">
    Send
    </button>

  </center>
</div>
</form>

</ion-item>
  