<ion-view title="Overtime Planning" cache-view="false">
  <ion-content padding="false" scroll="true">
    <form name="form" novalidate>
      <div class="list">
        <div class="item padding">

          <div class="row">
            <div class="input-field col">
              <p><b>START DATE</b></p>
              <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker();">
                {{request.ovtStartDate| date: "yyyy-MM-dd"}}
              </ionic-datepicker>
            </div>&nbsp;
            <div class="input-field col">
              <p><b>END DATE</b></p>
              <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker1()">
                {{request.ovtEndDate| date: "yyyy-MM-dd"}}
              </ionic-datepicker>
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>START TIME</b></p>
              <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                ng-click="openTimePickerOver1();">
                <span class="icon ion-clock">&nbsp;&nbsp;{{request.ovtStartTime | timeWithoutSecond}}</span>
              </ionic-timepicker>
            </div>&nbsp;
            <div class="input-field col">
              <p><b>END TIME</b></p>
              <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                ng-click="openTimePickerOver2()">
                <span class="icon ion-clock">&nbsp;&nbsp;{{request.ovtEndTime | timeWithoutSecond}}</span>
              </ionic-timepicker>
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>DESCRIPTION</b></p>
              <textarea class="form-control" maxlength="500" ng-model="request.remark" row="2"
                placeholder="Contoh : Troubleshooting TS Cabang DKI-Kwitang"></textarea>
            </div>&nbsp;
          </div>

          <div class="row">
            <div class="input-field col">
              <p><b>TARGET</b></p>
              <textarea class="form-control" maxlength="500" ng-model="request.target"
                placeholder="Contoh : Masalah sudah tertangani, operasional cabang berjalan kembali"></textarea>
            </div>&nbsp;
          </div>

          <div class="item item-divider uppercase">
            <center>{{dataDetailGroup.groupName}}</center>
          </div>
          <div class="row">
            <div class="row">
              <div class="input-field col">
                <p><b>Scheduled In<br />
                    Scheduled Out</b></p>
              </div>&nbsp;
              <div class="input-field col">
                <p><b>{{dataDetailGroup.startTime | timeWithoutSecond}}<br />
                    {{dataDetailGroup.endTime | timeWithoutSecond}}</b></p>
              </div>
            </div>
            <br />
          </div>
          <div class="row">
            <button class="btn button-medium button button-balanced  button-block"
              style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()"
              ng-disabled="form.$invalid">SUBMIT</button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
