<ion-view title="Submit {{leaveCategory}}">
  <ion-content padding="false" scroll="true">
    <form name="form" novalidate>
      <div class="list">
        <div class="item padding">
          <div ng-if="leaveCategory =='leave' || leaveCategory =='permission'">
            <div class="row no-padding text-center bt-grey bb-grey" style="height:44px; border:none;"
              ng-if="leaveCategory =='leave'" ng-repeat="balance in balance">
              <div class="col col-35">
                <p class="bb text-small padding uppercase">Remaining {{balance.period}}</p>
              </div>
              <div class="col col-15">
                <p class="bb text-large padding uppercase" style="min-height:42px !important;">
                  <b>{{balance.balanceEnd}}</b></p>
              </div>
              <div class="col col-35">
                <p class="bb text-small padding uppercase">Used {{balance.period}}</p>
              </div>
              <div class="col col-15">
                <p class="bb text-large padding uppercase" style="min-height:42px !important;">
                  <b>{{balance.balanceUsed}}</b></p>
              </div>
            </div>

            <div class="item item-divider uppercase">
              Type
            </div>

            <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.type" options="selectType"
              modal-title="Select a Type" option-property="type" on-select="onSelectType()">
              {{labelType}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.typeLabel}}</h2>
              </div>
            </div>

            <div class="item item-divider uppercase">
              Date
            </div>
            <div class="row">
              <div class="input-field col">
                <p><b>Start</b></p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker()">
                  {{leave.startDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row" ng-if="leaveCategory !='Overtime' &&  leaveCategory !='Edit Attendance'">
              <div class="input-field col">
                <p><b>End</b></p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker1()">
                  {{leave.endDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>

            <div class="item item-divider uppercase">
              Substitute
            </div>
            <!--
          <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.substituteToEmployment" options-expression=" person in selectEmployeeSubstitute | orderBy:'fullName'" option-property="employment" has-search="true" search-placeholder="Search by name" modal-title="Select Substitute" on-select="onSelectSubstitute()">
              {{labelSubstitute}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                {{option.fullName}}
              </div>
          </div>-->

            <div class="row">
              <div class="input-field col s12">
                <!-- <p for="textarea1">Reason</p>-->
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter name of Substitute employee" maxlength="100" ng-model="leave.remark" name="reason"
                  ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
                <font color="red" style="font-size: 10px"><span ng-show="form.reason.$invalid">Should not contain any
                    special characters</span></font>

              </div>
            </div>
          </div>

          <!-- SICK -->
          <div ng-if="leaveCategory =='sick'">
            <div class="row no-padding text-center bt-grey bb-grey" style="height:44px">
              <div class="col col-40">
                <p class="bb text-medium padding uppercase">Remaining</p>
              </div>
              <div class="col col-10 bl-grey">
                <p class="bb text-large padding uppercase">{{balance.balanceEnd}}</p>
              </div>
              <div class="col col-40">
                <p class="bb text-medium padding uppercase">Used</p>
              </div>
              <div class="col col-10 bl-grey">
                <p class="bb text-large padding uppercase">{{balance.balanceUsed}}</p>
              </div>
            </div>

            <div class="item item-divider uppercase">
              Type
            </div>

            <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.type" options="selectType"
              modal-title="Select a Type" option-property="type" on-select="onSelectType()">
              {{labelType}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.typeLabel}}</h2>
              </div>
            </div>

            <div class="item item-divider uppercase">
              Date
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Start</p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker()">
                  {{leave.startDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row" ng-if="leaveCategory !='Overtime' &&  leaveCategory !='Edit Attendance'">
              <div class="input-field col">
                <p>End</p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker1()">
                  {{leave.endDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p>Remark</p>
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter your remark" maxlength="100" ng-model="leave.remark" name="remark"
                  ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
                <font color="red" style="font-size: 10px"><span ng-show="form.remark.$invalid">Should not contain any
                    special characters</span></font>

              </div>
            </div>
          </div>

          <!-- Overtime -->
          <div ng-if="leaveCategory == 'overtime'">
            <div class="item item-divider uppercase">
              Type
            </div>

            <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.type" options="selectType"
              modal-title="Select a Type" option-property="type" on-select="onSelectType()">
              {{labelType}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.typeLabel}}</h2>
              </div>
            </div>
            <div class="item item-divider uppercase">
              Date & Time
            </div>
            <div class="row">
              <p><b>Start</b></p>
            </div>
            <div class="row">
              <div class="col">
                <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                  ng-click="openDatePickerOvertime1()">
                  <span class="icon ion-calendar">&nbsp;&nbsp;{{leave.startDateInTimeDate| date: "yyyy-MM-dd"}}</span>
                </ionic-datepicker>
              </div>
              &nbsp;
              <div class="col ">
                <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                  ng-click="openTimePickerOvertime1()">
                  <span class="icon ion-clock">&nbsp;&nbsp;{{leave.startDateInTimeTime | date:'HH:mm'}}</span>
                </ionic-timepicker>
              </div>
            </div>


            <div class="row">
              <p><b>End</b></p>
            </div>
            <div class="row">
              <div class="col">
                <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                  ng-click="openDatePickerOvertime2()">
                  <span class="icon ion-calendar">&nbsp;&nbsp;{{leave.endDateInTimeDate| date: "yyyy-MM-dd"}}</span>

                </ionic-datepicker>
              </div>
              &nbsp;
              <div class="col">
                <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                  ng-click="openTimePickerOvertime2()">
                  <span class="icon ion-clock">&nbsp;&nbsp;{{leave.endDateInTimeTime | date:'HH:mm'}}</span>

                </ionic-timepicker>
              </div>
            </div>
            <!--
           <div class="row">
                <div class="input-field col">
                    <p for="last_name">Date</p>
                    <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()">
                            {{leave.startDate| date: "yyyy-MM-dd"}}
                    </ionic-datepicker>
                </div>
          </div>

          <div class="row">
                <div class="input-field col">
                    <p for="last_name">Total Overtime In </p>
                    <div class="row">
                        <div class="col">
                          <select ng-model="leave.overtimeinhour">
                            
                            <option ng-repeat="hour in selectHour">{{hour.id}}</option>
                          </select>
                        </div>
                        <div class="col"><h6>&nbsp;&nbsp;Hours</h6></div>
                        <div class="col">
                          <select ng-model="leave.overtimeinmin">
                            <option ng-repeat="min in selectMinutes">{{min.id}}</option>
                          </select>
                        </div>
                        <div class="col" ><h6>&nbsp;&nbsp;Min</h6></div>
                    </div>
                </div>
          </div>
          <div class="row" ng-if="leaveCategory =='overtime'">
                <div class="input-field col">
                    <p for="last_name">Total Overtime Out </p>
                    <div class="row">
                        <div class="col">
                          <select ng-model="leave.overtimeouthour">
                            <option ng-repeat="hour in selectHour">{{hour.id}}</option>
                          </select>
                        </div>
                        <div class="col"><h6>&nbsp;Hours</h6></div>
                        <div class="col">
                          <select ng-model="leave.overtimeoutmin">
                            <option ng-repeat="min in selectMinutes">{{min.id}}</option>
                          </select>
                        </div>
                        <div class="col"><h6>&nbsp;Min</h6></div>
                    </div>
                </div>
          </div> -->
            <div class="row">
              <div class="input-field col s12">
                <p>Remark</p>
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter your remark" maxlength="100" ng-model="leave.remark" name="remark1"
                  ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
                <font color="red" style="font-size: 10px"><span ng-show="form.remark1.$invalid">Should not contain any
                    special characters</span></font>

              </div>
            </div>
          </div>

          <div ng-if="leaveCategory == 'attendance edit'">
            <div class="item item-divider uppercase">
              Type
            </div>

            <div class="item item-icon-right" style="border:0px" modal-select ng-model="leave.type" options="selectType"
              modal-title="Select a Type" option-property="type" on-select="onSelectType()">
              {{labelType}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.typeLabel}}</h2>
              </div>
            </div>

            <div class="row">
              <div class="input-field col">
                <p>Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker()">
                  {{leave.startDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col-50">
                <p>In</p>
                <ionic-timepicker ng-click="openTimePicker1()">
                  <button class="button button-block button-outline button-positive">{{attendanceIn}}</button>
                </ionic-timepicker>
              </div>&nbsp;&nbsp;
              <div class="input-field col-50">
                <p>Out</p>
                <ionic-timepicker ng-click="openTimePicker2()">
                  <button class="button button-block button-outline button-positive">{{attendanceOut}}</button>
                </ionic-timepicker>
              </div>
            </div>


            <div class="row">
              <div class="input-field col s12">
                <p>Remark</p>
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="3"
                  placeholder="Enter your remark" maxlength="100" ng-model="leave.remark" name="remark2"
                  ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
                <font color="red" style="font-size: 10px"><span ng-show="form.remark2.$invalid">Should not contain any
                    special characters</span></font>

              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn button-medium button button-balanced  button-block"
              style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()"
              ng-disabled="form.$invalid">Next</button>

          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
