<ion-view title="Overtime Realization" cache-view="false">
  <ion-content padding="false" scroll="true">
    <form name="form" novalidate>
      <div class="list">
        <div class="item padding">
          <div ng-if="dataCheck == 1">
            <div class="item item-divider uppercase">
              <center> Check In / Out Time</center>
            </div>

            <div class="row">
              <div class="input-field col">
                <p><b>Check In</b></p>

                  <p><span >{{detailActualInOut.actualInTime | date:'yyyy-MM-dd'}}</span> &nbsp;&nbsp;
                  <span >{{detailActualInOut.actualInTimeString}}</span></p>
                </div>&nbsp;


              <div class="input-field col">
                <p><b>Check Out</b></p>

                  <p><span>{{detailActualInOut.actualOutTime | date:'yyyy-MM-dd'}}</span> &nbsp;&nbsp;
                  <span >{{detailActualInOut.actualOutTimeString}}</span></p>

              </div>
            </div>
          </div>



          <div class="item item-divider uppercase">
            <center>REALIZATION</center>
          </div>

          <div class="row">
            <div class="input-field col">
              <p><b>START DATE</b></p>
              <!-- <ionic-timepicker class="button button-block button-outline button-dark text-medium" ng-click="openDatePicker();">
                  <span >&nbsp;&nbsp;{{realization.ovtStartDate | date:'yyyy-MM-dd'}}</span>
                </ionic-timepicker> -->


              <ionic-timepicker class="button button-block button-outline button-dark text-medium">
                <span>&nbsp;&nbsp;{{realization.ovtStartDate | date:'yyyy-MM-dd'}}</span>
              </ionic-timepicker>
            </div>&nbsp;
            <div class="input-field col">
              <p><b>END DATE</b></p>
              <!--  <ionic-timepicker class="button button-block button-outline button-dark text-medium" ng-click="openDatePicker1();">
                  <span >&nbsp;&nbsp;{{realization.ovtEndDate | date:'yyyy-MM-dd'}}</span>
                </ionic-timepicker> -->


              <ionic-timepicker class="button button-block button-outline button-dark text-medium">
                <span>&nbsp;&nbsp;{{realization.ovtEndDate | date:'yyyy-MM-dd'}}</span>
              </ionic-timepicker>
            </div>
          </div>

          <div class="row">
            <div class="input-field col">
              <p><b>START TIME</b></p>
              <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                ng-click="openTimePickerOver1();">
                <span class="icon ion-clock">&nbsp;&nbsp;{{realization.ovtStartTime | timeWithoutSecond}}</span>
              </ionic-timepicker>
            </div>&nbsp;
            <div class="input-field col">
              <p><b>END TIME</b></p>
              <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                ng-click="openTimePickerOver2();">
                <span class="icon ion-clock">&nbsp;&nbsp;{{realization.ovtEndTime | timeWithoutSecond}}</span>
              </ionic-timepicker>
            </div>
          </div>

          <div class="row">
            <div class="input-field col">
              <p><b>DESCRIPTION</b></p>
              <textarea class="form-control" ng-model="realization.remark"
                placeholder="notes request description"></textarea>
            </div>&nbsp;
            <div class="input-field col">
            </div>
          </div>


          <div class="row">
            <div class="input-field col">
              <p><b>TARGET</b></p>
              <textarea class="form-control" ng-model="realization.target" placeholder="notes target"></textarea>
            </div>&nbsp;
            <div class="input-field col">
            </div>
          </div>

          <div class="row">
            <button class="btn button-medium button button-balanced  button-block"
              style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()"
              ng-disabled="form.$invalid">SUBMIT</button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
