<ion-view title="Overtime Realization" cache-view="false">
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div class="bg-lightgrey">
        <div class="card hybrid" style="padding:0px 0px">
          <div class="item item-icon-right" ng-repeat="overtimeRealization in overtimeRealizationList" ng-click="goToDetails(overtimeRealization.id)">
            <div class="inner-content">
              <h2 class="balanced text-medium"><b>{{overtimeRealization.startDate | date:'dd MMM yyyy'}}</b></h2>
              <p class="text-small">{{overtimeRealization.startTime | timeWithoutSecond}} - {{overtimeRealization.endTime | timeWithoutSecond}}</p>
            </div>
          </div>
        </div>
        <div>
          <div class="row" ng-if="overtimeRealizationList.length != 0"  ng-show="isLoadmoreShow" style="padding-top:0px;min-height:120px">
            <button style="height:30px" class="button button-block button-outline button-positive" ng-click="LoadMoreShow()">Load More Results</button>
          </div>
          <div class="item" ng-if="overtimeRealizationList.length == 0">
            <div class="col col-100">
              <h2>No request available</h2>
              <p>Please Pull to refresh</p>
            </div>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
