<ion-view title="My Certification">
    
       
        <ion-content class="has-header" scroll="true">
            <ion-refresher pulling-text="Pull to refresh"
             refreshing-text="Loading..."
             refreshing-icon="ion-loading-c"
             pulling-icon="ion-ios7-arrow-thin-down"
             on-refresh="refresh()">
            </ion-refresher>

        <div  class="bg-lightgrey">
          
                <div class="card " ng-repeat="item in certification | filter: searchFilter  | orderBy: 'publishedDate':true " ng-click="goToDetails(item.idx)">

                    <div class="item item-thumbnail-left item-icon-right item-text-wrap" >
                        <img ng-src="img/talents/42/42_certificate.png">
                        
                        <h2 class="lead text-small" style="padding-left:0px">{{item.name}}</h2>
                        <p><b>{{item.no}} </b> - {{item.principle}}</p>
                        <p>exp : {{item.expired}}</p>
                        
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                        
                </div>
                <div class="item" ng-if="certification.length == 0" >
                    <div class="col col-100">
                    <h2>No Certification available</h2>
                        <p>Please Pull to refresh !</p>
                    </div>  
                </div>
        
            </div>
        </div>
    </ion-content>

    <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAdd();"><i class="icons ion-plus"></i></a>
</ion-view>