<ion-view title="Attachments" class="bg-lightgrey">

    <ion-nav-buttons side="right">
        <!-- <button class="button button-dark button-clear icon ion-ios-compose-outline" ui-sref="app.edit-biodata"></button>-->
    </ion-nav-buttons>

    <ion-content class="has-header bt-grey profile" scroll="true">
        
        <div class="list">
            <div class="item" >
                
                <div class="row post" >
            
                  <div class="col" ng-repeat="items in attachments"  ><img style="max-width:100px;max-height:100px"  ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" /> </div>
                 
              </div>
                <div class="item" ng-if="attachments.length == 0" >
                    <div class="col col-100">
                        <p>No Image attached</p>
                    </div>  
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>