<ion-view title="Add Address">

  <ion-content padding="true" class="has-header materialize" scroll="true">

    <div class="item no-padding">
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>State</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>City</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="validate">
          <label>RT</label>
        </div>
        <div class="input-field col s6">
          <input type="text" class="validate">
          <label>RW</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label>Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <input type="tel" class="validate">
          <label>ZIP Code</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col">
          <input type="tel" class="validate">
          <label>Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>Primary ?</label>
        </div>
      </div>

      <div class="row">
        <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light"
          ng-click="gotoHome()">Reset</button>

        <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light"
          ng-click="gotoHome()">Send</button>
      </div>

    </div>

  </ion-content>

</ion-view>
