<ion-view title="Assign By Employee" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="btn btn-success" ng-if="attendancegroup.id != null" ng-click="saveData(attendancegroup.id)">
      SAVE DATA
    </button>
    <button class="btn btn-success" ng-if="attendancegroup.id == undefined" ng-click="saveData(0)">
      SAVE DATA
    </button>
  </ion-nav-buttons>
  </div>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div class="item no-padding">
        <form name="form" novalidate>
          <div class="list">
            <div class="row">
              <div class="input-field col">
                <p>Location</p>
                <input id="first_name" placeholder="Enter Code" type="text" class="validate" name="groupCode" ng-model="attendanceGroup.groupCode" ng-attendancegroup="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40">
                <font color="red" style="font-size: 10px"><span ng-show="form.groupCode.$invalid">Should not contain any special characters</span></font>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Department</p>
                <input placeholder="Enter Name" type="text" class="validate" name="groupName" ng-model="attendanceGroup.groupName" ng-attendancegroup="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
                <font color="red" style="font-size: 10px"><span ng-show="form.groupName.$invalid">Should not contain any special characters</span></font>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Position</p>
                <input placeholder="Enter Name" type="text" class="validate" name="groupName" ng-model="attendanceGroup.groupName" ng-attendancegroup="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
                <font color="red" style="font-size: 10px"><span ng-show="form.groupName.$invalid">Should not contain any special characters</span></font>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Employee</p>
                <input placeholder="Enter Name" type="text" class="validate" name="groupName" ng-model="attendanceGroup.groupName" ng-attendancegroup="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
                <font color="red" style="font-size: 10px"><span ng-show="form.groupName.$invalid">Should not contain any special characters</span></font>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Remarks</p>
                <textarea placeholder="Remarks" ng-model="detailattendanceGroup.remark" name="remark" maxlength="120"></textarea>
              </div>
            </div>
          </div>
      </div>
      </form>
      </div>
    </ion-scroll>
    <button class="btn-floating btn-large waves-effect waves-light red lighten-1" ng-if="module.type == 'detail'" ng-disabled="indentityPage < 1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddDetailAd();"><i class="icons ion-plus"></i></button>
  </ion-content>
</ion-view>
