<ion-view title="Shift" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="btn btn-success" ng-if="shift.id != null" ng-click="saveData(shift.id)">
      SAVE DATA
    </button>
    <button class="btn btn-success" ng-if="shift.id == undefined" ng-click="saveData(0)">
      SAVE DATA
    </button>
  </ion-nav-buttons>
  </div>
  <ion-content padding="false" class="has-header materialize" scroll="false">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'general' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('general')"><b>General</b></div>
      <div class="col font-thin" ng-class="module.type === 'limit' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('limit')"><b>Limit</b></div>
      <div class="col font-thin" ng-class="module.type === 'overtime' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('overtime')"><b>Overtime</b></div>
    </div>
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div ng-if="module.type == 'general'">
        <form name="form" novalidate>
          <div class="item padding">
            <div class="list">
              <div class="row">
                <div class="input-field col">
                  <p>Code</p>
                  <input id="first_name" placeholder="Enter Code" type="text" class="validate" name="shiftCode"
                    ng-model="shift.shiftCode" style="width: 100%;">
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Name</p>
                  <input id="last_name" placeholder="Enter Name" type="text" class="validate" name="shiftName"
                    ng-model="shift.shiftName" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.shiftName.$invalid">Should not contain
                      any special characters</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Off Shift</p>
                  <ion-toggle style="border:0; height: 50px;" ng-model="shift.offShiftFlag"></ion-toggle>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Night Shift</p>
                  <ion-toggle style="border:0; height: 50px;" ng-model="shift.nightFlag"></ion-toggle>
                </div>
                <div class="col"></div>
              </div>

              <div class="row">
                <div class="input-field col">
                  <p>Is 4 Hours break time pattern</p>
                  <ion-toggle style="border:0; height: 50px;" ng-model="shift.is4hoursBreakTimePattern"></ion-toggle>
                </div>
                <div class="col"></div>
              </div>


              <br />
              <div class="row">
                <div class="col">
                  <p>Time In</p>
                  <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver1()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.startTime| timeWithoutSecond}}</span>
                  </ionic-datepicker>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Time Out</p>
                  <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver2()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.endTime | timeWithoutSecond}}</span>
                  </ionic-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Break Start</p>
                  <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver3()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.breakStart| timeWithoutSecond}}</span>
                  </ionic-datepicker>
                </div>
              </div>
              <div class="row">
                <div class="col ">
                  <p>Break End</p>
                  <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver4()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.breakEnd | timeWithoutSecond}}</span>
                  </ionic-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Break Start 2</p>
                  <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver11()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.breakStart2| timeWithoutSecond}}</span>
                  </ionic-datepicker>
                </div>
              </div>
              <div class="row">
                <div class="col ">
                  <p>Break End 2</p>
                  <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver12()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.breakEnd2 | timeWithoutSecond}}</span>
                  </ionic-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Break Start 3</p>
                  <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver13()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.breakStart3| timeWithoutSecond}}</span>
                  </ionic-datepicker>
                </div>
              </div>
              <div class="row">
                <div class="col ">
                  <p>Break End 3</p>
                  <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver14()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.breakEnd3 | timeWithoutSecond}}</span>
                  </ionic-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Day Type</p>
                  <!-- <input id="first_name" placeholder="Enter Code" type="text" class="validate" name="dayType" ng-model="shift.dayType" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.dayType.$invalid">Should not contain any special characters</span></font> -->
                  <select ng-model="shift.dayType" class="select-dropdown" style="height: 30px;">
                    <option value="">-- Select Day Type --</option>
                    <option value="WD1">WD1</option>
                    <option value="WD2">WD2</option>
                    <option value="OFF">OFF</option>
                    <option value="HD1">HD1</option>
                    <option value="HD2">HD2</option>
                  </select>
                </div>
              </div>
              <br />
              <div ng-if="shift.id > 0" class="row">
                <div class="col">
                  <ion-list>
                    <div>
                      <ion-item class="item-stable">
                        Information {{shift.createdBy}}
                      </ion-item>
                      <ion-item class="item-accordion">
                        <p>
                          Created By : <b>{{shift.createdBy}}</b>
                          <br /> Created Date : <b>{{shift.createdDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                          <br /> Modified By : <b>{{shift.modifiedBy}}</b>
                          <br /> Modified Date : <b>{{shift.modifiedDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                          <br />
                        </p>
                      </ion-item>
                    </div>
                  </ion-list>
                </div>
                <div class="col"></div>
              </div>
              <br />
            </div>
          </div>
        </form>
      </div>
      <div ng-if="module.type == 'limit'">
        <form name="form" novalidate>
          <div class="item padding">
            <div class="list">
              <div class="row">
                <div class="col">
                  <p>Early In</p>
                  <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver7()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.earlyinTime | timeWithoutSecond}}</span>
                  </ionic-datepicker>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Late In</p>
                  <ionic-datepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver5()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.lateinTime | timeWithoutSecond}}</span>
                  </ionic-datepicker>
                </div>
              </div>
              <div class="row">
                <div class="col ">
                  <p>Early Out</p>
                  <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver8()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.earlyoutTime | timeWithoutSecond}}</span>
                  </ionic-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="col ">
                  <p>Late Out</p>
                  <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver6()">
                    <span class="icon ion-clock">&nbsp;&nbsp;{{shift.lateoutTime | timeWithoutSecond}}</span>
                  </ionic-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Grace In (in minutes)</p>
                  <input id="first_name" placeholder="Grace In" type="text" class="validate" name="graceinLate"
                    ng-model="shift.graceinLate" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.graceIn.$invalid">Should not contain any
                      special characters</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Grace Out (in minutes)</p>
                  <input id="first_name" placeholder="Grace Out" type="text" class="validate" name="graceoutEarly"
                    ng-model="shift.graceoutEarly" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.graceIn.$invalid">Should not contain any
                      special characters</span></font>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div ng-if="module.type == 'overtime'">
        <form name="form" novalidate>
          <div class="item padding">
            <div class="list">
              <div class="row">
                <div class="col ">
                  <p>Overtime In </p>
                  <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver9()">
                    <span class="icon ion-clock"> {{shift.startOvertime | timeWithoutSecond}}</span>
                  </ionic-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="col ">
                  <p>Overtime Out</p>
                  <ionic-timepicker class="button button-block button-outline button-dark text-medium"
                    ng-click="openTimePickerOver10()">
                    <span class="icon ion-clock"> {{shift.endOvertime | timeWithoutSecond}}</span>
                  </ionic-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Overtime Code</p>
                  <input id="first_name" placeholder="Enter Overtime Code " type="text" class="validate"
                    name="overtimeCode" ng-model="shift.overtimeCode" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"
                    style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.overtimeCode.$invalid">Should not
                      contain any special characters</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Auto Overtime In</p>
                  <input id="first_name" placeholder="Enter Auto Overtime In " type="text" class="validate"
                    name="autoOvtIn" ng-model="shift.autoOvtIn" ng-pattern="/^[.0-9-/ ]*$/" style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.autoOvertimeIn.$invalid">Should
                      number</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Auto Overtime Out</p>
                  <input id="first_name" placeholder="Enter Auto Overtime Out " type="text" class="validate"
                    name="autoOvtOut" ng-model="shift.autoOvtOut" ng-pattern="/^[.0-9-/ ]*$/" style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.autoOvertimeIn.$invalid">Should
                      number</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Auto Overtime in Flag</p>
                  <ion-toggle style="border:0; height: 50px;" ng-model="shift.autoOvtInFlag"></ion-toggle>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Auto Overtime out Flag</p>
                  <ion-toggle style="border:0; height: 50px;" ng-model="shift.autoOvtOutFlag"></ion-toggle>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
