<ion-view title="Attendance Groups" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="btn btn-success"  ng-if="attendanceGroup.id != null" ng-click="saveData(attendancegroup.id)">
      SAVE DATA
    </button>
    <button class="btn btn-success"  ng-if="attendanceGroup.id == undefined" ng-if="attendancegroup.id == undefined" ng-click="saveData(0)">
      SAVE DATA
    </button>
  </ion-nav-buttons>
  </div>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'general' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('general')"><b>General</b></div>
      <div class="col font-thin" ng-class="module.type === 'detail' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('detail')"><b>Detail</b></div>
    </div>
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div ng-if="module.type == 'general'">
        <div class="item no-padding">
          <form name="form" novalidate>
            <div class="list">
              <div class="row">
                <div class="input-field col">
                  <p>Code</p>
                  <input id="groupCode" placeholder="Enter Code" type="text" class="validate" name="groupCode" ng-model="attendanceGroup.groupCode" style="width: 100%;">
                 
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Name</p>
                  <input id="groupName" placeholder="Enter Name" type="text" class="validate" name="groupName" ng-model="attendanceGroup.groupName" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"  style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.groupName.$invalid">Should not contain any special characters.</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Working Hours</p>
                  <input id="workingHours" placeholder="Enter Working Hours" type="text" class="validate" name="workingHours" ng-model="attendanceGroup.workingHours" ng-pattern="/^[0-9]*$/"  style="width: 100%;">
                  <font color="red" style="font-size: 10px"><span ng-show="form.workingHours.$invalid">Numbers only.</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p>Working On Holiday</p>
                  <ion-toggle name="isWorkingOnHoliday" class="col-sm-4 text-left padding-vertical margin-vertical" style="height:55px;border:0;" ng-model="toggled.checked"></ion-toggle>
                  
                </div>
              </div>
              <br />
              <div ng-if="attendanceGroup.id > 0" class="row" >
                <div class="col">
                   <ion-list>
                    <div>
                      <ion-item class="item-stable">
                        Information
                      </ion-item>
                      <ion-item class="item-accordion">
                        <p>
                          Created By : <b>{{attendanceGroup.createdBy}}</b>
                          <br /> Created Date : <b>{{attendanceGroup.createdDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                          <br /> Modified By : <b>{{attendanceGroup.modifiedBy}}</b>
                          <br /> Modified Date : <b>{{attendanceGroup.modifiedDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                          <br />
                        </p>
                      </ion-item>
                    </div>
                  </ion-list>
                </div>
                <div class="col"></div>
              </div>
              <br />
            </div>
          </form>
        </div>
      </div>
      <div ng-if="module.type == 'detail'">
        <!-- <div class="item no-padding">
          <form name="form" novalidate>
            <div class="list">
               <div class="row">
                <div class="input-field col">
                  <p for="first_name">attendancegroup Code</p>
                  <input id="first_name" placeholder="Enter attendancegroup Code" type="text" class="validate" name="detailattendancegroup.attendancegroup.attendancegroupCode" ng-model="detailattendancegroup.attendancegroup.attendancegroupCode" ng-attendancegroup="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40">
                  <font color="red" style="font-size: 10px"><span ng-show="form.detailattendancegroup.attendancegroup.attendancegroupCode.$invalid">Should not contain any special characters</span></font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p for="last_name">attendancegroup No</p>
                  <input id="last_name" placeholder="Enter attendancegroup No" type="text" class="validate" name="detailattendancegroup.attendancegroupNo" ng-model="detailattendancegroup.attendancegroupNo" ng-attendancegroup="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
                  <font color="red" style="font-size: 10px"><span ng-show="form.detailattendancegroup.attendancegroupNo.$invalid">Should not contain any special characters</span></font>
                </div>
              </div>


              <div class="row">
                <div class="input-field col">
                  <p for="last_name">Shift Code</p>
                  <input id="last_name" placeholder="Enter Shift Code" type="text" class="validate" name="detailattendancegroup.shift.shiftCode" ng-model="detailattendancegroup.shift.shiftCode" maxlength="30">
          
                </div>
              </div>
            
            </div>
          </form>
        </div> -->
        <div class="card hybrid" style="padding:0px 0px">
          <div class="item item-icon-right" ng-repeat="list in listdetailattendanceGroup" ng-click="goToDetailattendancegroup(list.id,list.patternDtl.patternId)">
            <div class="inner-content">
              <h2 class="balanced text-medium"><b>
                            {{list.effectiveStartDate | date:'dd MMM yyyy'}} - {{list.effectiveEndDate | date:'dd MMM yyyy'}}</b></h2>
              <p class="text-small">{{list.patternDtl.patternNo}}</p>
            </div>
          </div>
        </div>
      </div>
    </ion-scroll>
    <button class="btn-floating btn-large waves-effect waves-light red lighten-1" ng-if="module.type == 'detail'" ng-disabled="indentityPage < 1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddDetailAd();"><i class="icons ion-plus"></i></button>
  </ion-content>
</ion-view>
