<ion-view title="Assign Attendance Group">
  <!-- modal search by employee -->
  <script id="modalByEmployee.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(11);">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
        <div class="row">
          <div class="input-field col">
            <p>NPK</p>
            <h4 type="text" class="validate" ng-model="requestHeader.npk" name="npk" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40" ng-click="openModal(1);">{{requestHeader.npk || "&nbsp;"}}</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>Employee Name</p>
            <h4 style="margin-top: 30px" type="text" class="validate input-talents" ng-model="requestHeader.empName" name="empName" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40" ng-click="openModal(2);">{{requestHeader.empName || "&nbsp;"}}</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col" style="padding-top:10px;">
            <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="goToListEmployee(requestHeader.npk,requestHeader.empName);">Submit</button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- modal search by group -->
  <script id="modalByGroup.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(22);">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
        <div class="row">
          <div class="input-field col">
            <p>Code</p>
            <h4 type="text" class="validate" ng-model="requestHeader.groupCode" name="groupCode" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40" ng-click="openModal(33);">{{requestHeader.groupCode || "&nbsp;"}}</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>Name</p>
            <h4 style="margin-top: 30px" type="text" class="validate input-talents" ng-model="requestHeader.groupName" name="groupName" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40" ng-click="openModal(44);">{{requestHeader.groupName || "&nbsp;"}}</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col" style="padding-top:10px;">
            <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="goToListGroup(requestHeader.groupCode,requestHeader.groupName);">Submit</button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
  
  <!-- modal employee-npk -->
  <script id="modal1.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(1);">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" ng-model="findByNpk.search" placeholder="Search" maxlength="5">
          </label>
          <button class="button button-clear" ng-click="doRefresh(1); searchByNpk(0);">
            Search  
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
          
          <ion-list>
              <ion-item ng-repeat="p in npkItems" ng-click="goToListEmployee(p.employeeNo,p.fullName,p.employee)">
                  <h3>{{p.fullName}}</h3>
                  <h4 class="positive">{{p.employeeNo}}</h4>
              </ion-item>
          </ion-list>
          <div class="item" ng-if="npkItems.length == 0 && findStatus == true && noDataShow == true">
            <h3 class="assertive">No data available</h3>
          </div>  
          <div class="row" ng-show="isLoadMoreShow">
            <button ng-disabled="isFirst;" ng-click="loadPrevNpk();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
            <button ng-disabled="isLast;" ng-click="loadMoreNpk();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
          </div>      
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- modal employee-name -->
  <script id="modal2.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(2);">
              <i class="icon ion-android-close placeholder-icon"></i>
          </button>
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" ng-model="findByName.search" placeholder="Search">
          </label>
          <button class="button button-clear" ng-click="doRefresh(2); searchByName(0);">
            Search  
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
          
          <ion-list>
              <ion-item ng-repeat="p in nameItems" ng-click="goToListEmployee(p.employeeNo,p.fullName,p.employee)">
                  <h3>{{p.fullName}}</h3>
                  <h4 class="positive">{{p.employeeNo}}</h4>
              </ion-item>
          </ion-list>
          <div class="item" ng-if="nameItems.length == 0 && findStatus == true && noDataShow == true">
            <h3 class="assertive">No data available</h3>
          </div>  
          <div class="row" ng-show="isLoadMoreShow">
              <button ng-disabled="isFirst;" ng-click="loadPrevName();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
              <button ng-disabled="isLast;" ng-click="loadMoreName();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
          </div>      
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- modal search by group code -->
  <script id="modalByGroupCode.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(33);">
              <i class="icon ion-android-close placeholder-icon"></i>
          </button>
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" ng-model="findByGroupCode.search" placeholder="Search">
          </label>
          <button class="button button-clear" ng-click="doRefresh(33); searchByGroupCode(0);">
            Search  
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
          
          <ion-list>
              <ion-item ng-repeat="p in groupCodeItems" ng-click="getValueByGroup(p.groupCode,p.groupName,33)">
                  <h3>{{p.groupCode}}</h3>
                  <h4 class="positive">{{p.groupName}}</h4>
              </ion-item>
          </ion-list>
          <div class="item" ng-if="groupCodeItems.length == 0 && findStatus == true && noDataShow == true">
            <h3 class="assertive">No data available</h3>
          </div>
          <!-- <div class="row" ng-show="isLoadMoreShow">
            <button ng-disabled="isFirst;" ng-click="loadPrevName();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
            <button ng-disabled="isLast;" ng-click="loadMoreName();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
          </div>   -->
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- modal search by group name -->
  <script id="modalByGroupName.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(44);">
              <i class="icon ion-android-close placeholder-icon"></i>
          </button>
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" ng-model="findByGroupName.search" placeholder="Search">
          </label>
          <button class="button button-clear" ng-click="doRefresh(44); searchByGroupName(0);">
            Search  
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
          
          <ion-list>
              <ion-item ng-repeat="p in groupNameItems" ng-click="getValueByGroup(p.groupCode,p.groupName,44)">
                  <h3>{{p.groupCode}}</h3>
                  <h4 class="positive">{{p.groupName}}</h4>
              </ion-item>
          </ion-list>
          <div class="item" ng-if="groupNameItems.length == 0 && findStatus == true && noDataShow == true">
            <h3 class="assertive">No data available</h3>
          </div>  
          <div class="row" ng-show="isLoadMoreShow">
            <button ng-disabled="isFirst;" ng-click="loadPrevGroupName();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
            <button ng-disabled="isLast;" ng-click="loadMoreGroupName();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
          </div>  
      </ion-content>
    </ion-modal-view>
  </script>

  <ion-content class="has-header" scroll="true">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>
    <div class="bg-lightgrey">
      <ion-scroll class="bg-lightgrey" direction="y" style="max-height:100vh;">
        <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
        </ion-refresher>
        <div class="item item-icon-right" ng-click="openModal(11);">
          <div class="inner-content">
            <h2 class="balanced text-medium"><b>By Employee</b></h2>
          </div>
        </div>

         <!-- <div class="item item-icon-right" ng-click="openModal(22);">
          <div class="inner-content">
            <h2 class="balanced text-medium"><b>By Group</b></h2>
          </div>
        </div> -->
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
