<ion-view title="Assign Attendance Group">
  <ion-content class="has-header" scroll="true">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>
    <div class="bg-lightgrey">
      <ion-scroll class="bg-lightgrey" direction="y" style="max-height:100vh;">
        <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
        </ion-refresher>
        <!-- <div class="item item-icon-right" ng-repeat="attendanceGroup in attendanceGroupList" ng-click="goToDetails(attendanceGroup.id)">
          <div class="inner-content">
            <h2 class="balanced text-medium"><b>{{attendanceGroup.groupCode}}</b></h2>
            <p class="text-small">{{attendanceGroup.groupName}}</p>
          </div>
          <i class="icon ion-trash-a"></i>
        </div> -->
        <h1>{{groupCode}} - {{groupName}}</h1>
        <div class="item item-icon-right" ng-repeat="assignAttendance in assignAttendanceGroupList ">
          <div class="inner-content" ng-click="goToDetails(assignAttendance.id)">
            <h2 class="balanced text-medium"><b>{{assignAttendance.effectiveStartDate}} - {{assignAttendance.effectiveEndDate}}</b></h2>
            <p class="text-small">{{assignAttendance.employee.employeeNo}} - {{assignAttendance.employee.fullName}}</p>
          </div>
          <i class="icon ion-trash-a"></i>
        </div>
        <div class="item" ng-if="attendanceGroupList.length == 0">
          <div class="col col-100">
            <h2>No Data attendance Group available</h2>
            <p>Please Pull to refresh !</p>
          </div>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
  <a class="btn-floating btn-large waves-effect waves-light red lighten-1" ng-show="isShow == 1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddattendanceGroup();"><i class="icons ion-plus"></i></a>
</ion-view>
