<ion-view title="Detail Work Location" class="bg-lightgrey">

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="has-header materialize" scroll="true">
    <ion-list>
      <form name="form">
        <div class="row">
          <label for="workLocation">Work Location</label>
        </div>
        <div class="row">
          <input ng-model="data.name" type="text" name="workLocation" placeholder="Jakarta" disabled
            style="font-weight: bold;color: black">
          <!--<font color="red" style="font-size: 10px"><span ng-show="form.npwpNo.$invalid">Please fill with Number</span></font>-->
        </div>

        <div class="row">
          <label for="lat">Latitude 1</label>
        </div>
        <div class="row">
          <input ng-model="data.lat" placeholder="-6.22928120" type="text" class="validate" name="lat" required
            ng-pattern="/^(\+|-)?(?:90(?:(?:\.0{1,9})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,9})?))$/" maxlength=11>
        </div>
        <div class="row">
          <font color="red" style="font-size: 10px">
            <span ng-show="form.lat.$invalid && form.lat.$touched">Please fill with Number and Valid Latitude
              (Required)</span>
          </font>
        </div>
        <div class="row">
          <label for="lng">Longtitude 1</label>
        </div>
        <div class="row">
          <input ng-model="data.lng" placeholder="106.82526910" type="text" class="validate" name="lng" required
            ng-pattern="/^(\+|-)?(?:180(?:(?:\.0{1,8})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,8})?))$/"
            maxlength=12>
        </div>
        <div class="row">
          <font color="red" style="font-size: 10px">
            <span ng-show="form.lng.$invalid && form.lng.$touched">Please fill with Number and Valid
              Longtitude(Required)</span>
          </font>
        </div>

        <!-- aa -->
        <div class="row">
          <label for="lat2">Latitude 2</label>
        </div>
        <div class="row">
          <input ng-model="data.lat2" placeholder="-6.22928120" type="text" class="validate" name="lat"
            ng-pattern="/^(\+|-)?(?:90(?:(?:\.0{1,9})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,9})?))$/" maxlength=11>
        </div>
        <div class="row">
          <font color="red" style="font-size: 10px">
            <span ng-show="form.lat.$invalid && form.lat.$touched">Please fill with Number and Valid Latitude (Not
              Required)</span>
          </font>
        </div>
        <div class="row">
          <label for="lng2">Longtitude 2</label>
        </div>
        <div class="row">
          <input ng-model="data.lng2" placeholder="106.82526910" type="text" class="validate" name="lng"
            ng-pattern="/^(\+|-)?(?:180(?:(?:\.0{1,8})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,8})?))$/"
            maxlength=12>
        </div>
        <div class="row">
          <font color="red" style="font-size: 10px">
            <span ng-show="form.lng.$invalid && form.lng.$touched">Please fill with Number and Valid Longtitude(Not
              Required)</span>
          </font>
        </div>

        <!-- aa -->

        <div class="row">
          <label for="tollMeter">Tollerance Radius(meters)</label>
        </div>
        <div class="row">
          <input ng-model="data.tolleranceInMeter" placeholder="100" type="number" class="validate" name="tollMeter"
            required>
        </div>


        <div class="row">
          <label>Timezone</label>
        </div>

        <div class="row">
          <select ng-model="populateData" ng-change="getData(populateData)"
            ng-options="timezone.label for timezone in timezoneList track by timezone.value"></select>
          <input ng-model="data.timezone" style="display: none;"><br />

        </div>

        <div class="row">
          <font color="red" style="font-size: 10px">
            <span ng-show="form.tollMeter.$invalid && form.tollMeter.$touched">Please fill with Number (Required)</span>
          </font>
        </div>

        <div>
          <ion-item class="item-stable">
            Information {{data.createdBy}}
          </ion-item>
          <ion-item class="item-accordion">
            <p>
              Created By : <b>{{data.createdBy}}</b>
              <br />
              Created Date : <b>{{data.createdDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
              <br /> Modified By : <b>{{data.modifiedBy}}</b>
              <br /> Modified Date : <b>{{data.modifiedDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
              <br />
            </p>
          </ion-item>
        </div>

        <div class="row" style="padding-top:50px">
          <button ng-disabled="form.$invalid"
            class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light"
            ng-click="submit()">Submit</button>
        </div>
      </form>
    </ion-list>

  </ion-content>
</ion-view>
