<ion-view title="Pattern" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="btn btn-success" ng-click="saveData(detailPattern.id)">
      SAVE DATA
    </button>
  </ion-nav-buttons>
  </div>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div class="item no-padding">
        <form name="form" novalidate>
          <div class="list">
            <div class="row">
              <div class="input-field col">
                <p>Pattern Code</p>
                <input id="first_name" placeholder="Enter Pattern Code" type="text" class="validate" name="patternId"
                  ng-model="patternCode" maxlength="40" readonly="true" style="width: 100%;">
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Pattern No</p>
                <input id="last_name" placeholder="Enter Pattern No" type="text" class="validate" name="patternNo"
                  ng-model="pattern.patternNo" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" style="width: 100%;">
                <font color="red" style="font-size: 10px"><span ng-show="form.patternNo.$invalid">Should not contain any
                    special characters</span></font>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Shift Code</p>
                <select ng-model="populateData" ng-change="getData(populateData)"
                  ng-options="shift.shiftCode for shift in shiftList track by shift.id"></select>
                <input ng-model="pattern.shiftId" style="display: none;"><br />


              </div>
            </div>
            <div class="row">
              <p ng-if="showTime > 0 || populateData != null" for="last_name">{{populateData.startTime}} -
                {{populateData.endTime}}</p>

            </div>

            <br />
            <div class="row">
              <div class="col">
                <p>INFORMATION</p>
                <p>
                  Created By : <b>{{pattern.createdBy}}</b>
                  <br /> Created Date : <b>{{pattern.createdDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                  <br /> Modified By : <b>{{pattern.modifiedBy}}</b>
                  <br /> Modified Date : <b>{{pattern.modifiedDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                  <br />
                </p>
              </div>
              <div class="col"></div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
