<ion-view title="Work Location" class="bg-lightgrey">

    <!-- <ion-nav-buttons side="right">
        <button class="button button-icon dark icon ion-ios-search" ng-click="goToSearch()"></button>
    </ion-nav-buttons>
    <
     <ion-nav-buttons side="left">
        <div class="bar bar-header item-input-inset" ng-if="hasFilters">
            <label class="item-input-wrapper textbox-search">
                <input type="search" placeholder="Search">
            </label>
        </div>
    </ion-nav-buttons>
    <ion-nav-title ng-show="!hasFilters">
        Work Location
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <a data-tap-disabled="false" class=" button button-icon icon positive" ng-click="openFilters(hasFilters);" ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></a>
    </ion-nav-buttons> -->
    <!-- <search-bar ng-model="search"></search-bar> -->
    <ion-content class="has-header bt-grey profile" scroll="false">
        <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
            <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down"
                on-refresh="refresh()">
            </ion-refresher>
            <div>
                <div class="list">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="Search" ng-model="data.searchData" ng-keyup="$event.keyCode == 13 && search()">
                        </label>
                        <button class="button button-small" ng-click="search()">
                            Search
                        </button>
                    </div>
                </div>
                <div ng-repeat="item in requests">
                    <div class="item item-text-wrap item-icon-right" ng-click="gotoDetail(item.id)">
                        <h2 class="lead">{{item.name}}</h2>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                </div>
                <div class="item" ng-if="requests.length != 0" ng-show="!isLast" style="padding-top:0px;min-height:120px">
                    <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMore()">Load More Results</button>

                </div>
                <div class="item" ng-if="requests.length == 0">
                    <div class="col col-100">
                        <h2>No request available</h2>
                        <p>Please Pull to refresh</p>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>

</ion-view>