<ion-view title="Shift">
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div class="bg-lightgrey">
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Search" ng-model="data.searchData" ng-keyup="$event.keyCode == 13 && search()">
            </label>
            <button class="button button-small" ng-click="search()">
              Search
            </button>
          </div>
        </div>
        <div class="card hybrid" style="padding:0px 0px">
          <div class="item item-icon-right" ng-repeat="shift in shiftList" ng-click="goToDetails(shift.id)">
            <div class="inner-content">
              <h2 class="balanced text-medium"><b>{{shift.shiftName}}</b></h2>
              <p class="text-small">{{shift.startTime | timeWithoutSecond }} - {{shift.endTime | timeWithoutSecond }}</p>
            </div>
          </div>
        </div>
        <div>
          <div class="row" ng-if="shiftList.length != 0" ng-show="!isLast"  style="padding-top:0px;min-height:120px">
            <button style="height:30px" class="button button-block button-outline button-positive" ng-click="LoadMoreShiftShow()">Load More Results</button>
          </div>
          <div class="item" ng-if="shiftList.length == 0">
            <div class="col col-100">
              <h2>No request available</h2>
              <p>Please Pull to refresh</p>
            </div>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
  <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddshift();"><i class="icons ion-plus"></i></a>
</ion-view>
