<ion-view title="Pending Points" cache-view="false">
  <ion-content padding="true" class="has-header materialize" scroll="false" ng-show="profile.isLeader == false">
        
      <div class="row text-center" style="height:55px">
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.summaryProfile')"><b>Summary Profile</b></div>
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.detailPoin')"><b>Active</b></div>
        <div class="col font-thin balanced bb" style="color:#707070" ng-click="goTo('app.pendingPoin')"><b>Pending</b></div>
        <div class="col font-thin" style="color:#707070" ng-click="goTo('app.historyPoin')"><b>History</b></div>
      </div>
      
      <div class="list">
        <div class="row" style="margin:auto; font-family: 'Roboto';">
          <div class="point-pending" style="background-color:#F19025;">
              <center><b>-</b></center>
          </div>
        </div>
        
        <div class="row height-45 text-center" style="height:45px">
          <div class="col font-thin">
            <h4 style="color:#707070; font-size:15px">
              <b>Potential Points</b>
            </h4>
          </div>
        </div>

        <div class="row" style="margin-bottom:5px; margin-top:10px">
          <a style="font-size:20px; color:#000000;"><b>Pending Approval</b></a>
        </div>

        <br/><br/>
        <div class="row height-45 text-center" style="height:45px">
          <div class="col font-thin">
            <h4 style="color:#707070; font-size:15px">
              <b>Coming Soon.</b>
            </h4>
          </div>
        </div>
        
        <!-- PHASE II MOBILE TECAT 
        <ul class="list">
          <li class="item" style="font-size:15px; color:#000000">
            <span class="item-note" style="font-size:15px; font-weight: bold; color:#000000">
              ?? Points
            </span>
            Competency ?? 
            <br> 
            Modul ??
            <br>
            ??
            <br>
            <a style="font-size:12px; color:#707070;">(time)</a> 
          </li>
          <li class="item" style="font-size:15px; color:#000000">
            <span class="item-note" style="font-size:15px; font-weight: bold; color:#000000">
              ?? Points
            </span>
            Competency ??
            <br> 
            Modul ??
            <br>
            ??
            <br>
            <a style="font-size:12px; color:#707070;">(time)</a> 
          </li>
        </ul>
      </div>
      -->
    
  </ion-content>
</ion-view>

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<style>

body, p, div, span, h1, h2, h3, h4, h5, input, button, select, textarea{
  font-family: 'Roboto';
}
.point-pending{
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  z-index: 2;
  display: block;
  padding: 16px;
  margin: auto;
  margin-bottom: -8px;
  border-radius: 5px;
  font-size: 15px;
  color: #FFFFFF;
  height: 42px;
  width: 306px;
  line-height: 10px;
}

</style>