<ion-view title="Print Letter" class="bg-lightgrey">

    <ion-content class="has-header bg-lightgrey">
        <div class="row height-45 text-center stable-bg"  ng-repeat="letter in listLetter">
            <div class="col padding" ng-if="letter.key == 'SRT_PKWT' && dataEmpStatus == 'Karyawan Kontrak - 1'">
                <div class="card contact" ui-sref="app.{{letter.key}}">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/{{letter.key}}.png" style="width: 42px;height: 42px;"><br>
                        <span class="text-small">{{letter.value}}</span> 
                    </div>
                </div>
            </div>

            <div class="col padding"  ng-if="letter.key == 'SRT_AMANDEMENT' && dataEmpStatus == 'Karyawan Kontrak - 2'">
                <div class="card contact" ui-sref="app.{{letter.key}}">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/{{letter.key}}.png" style="width: 42px;height: 42px;"><br>
                        <span class="text-small">{{letter.value}}</span> 
                    </div>
                </div>
            </div>



            <div class="col padding"  ng-if="letter.key == 'SRT_PENGANGKATAN' && dataEmpStatus == 'Karyawan Tetap'">
                <div class="card contact" ui-sref="app.{{letter.key}}">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/{{letter.key}}.png" style="width: 42px;height: 42px;"><br>
                        <span class="text-small">{{letter.value}}</span> 
                    </div>
                </div>
            </div>

            <div class="col padding"  ng-if="letter.key == 'SRT_KET_KERJA'">
                <div class="card contact" ui-sref="app.{{letter.key}}">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/{{letter.key}}.png" style="width: 42px;height: 42px;"><br>
                        <span class="text-small">{{letter.value}}</span> 
                    </div>
                </div>
            </div>



            <div class="col padding"  ng-if="letter.key == 'SRT_PERNYATAAN_PAJAK'">
                <div class="card contact" ui-sref="app.{{letter.key}}">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/{{letter.key}}.png" style="width: 42px;height: 42px;"><br>
                        <span class="text-small">{{letter.value}}</span> 
                    </div>
                </div>
            </div>


            <div class="col padding"  ng-if="letter.key == 'SRT_VISA'">
                <div class="card contact" ui-sref="app.{{letter.key}}">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/{{letter.key}}.png" style="width: 42px;height: 42px;"><br>
                        <span class="text-small">{{letter.value}}</span> 
                    </div>
                </div>
            </div>



            <!-- <div class="col padding">
                <div class="card contact" ui-sref="app.amandement">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/amandemen.png" style="width: 42px;height: 42px;"><br>
                        <span class="text-small">Amandment</span> 
                    </div>
                </div>
            </div> -->
        </div>
       <!--  <div class="row height-20 text-center stable-bg">
            <div class="col padding" >
                <div class="card contact" ui-sref="app.statment">
                    <div class="item item-text-wrap light-bg">
                         <img src="img/talents/icon/statment.png" style="width: 42px;height: 42px;"><br />
                        <span class="text-small">Statement</span> 
                    </div>
                </div>
            </div>
            <div class="col padding">
                <div class="card contact" ui-sref="app.assignation">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/assignation.png" style="width: 42px;height: 42px;"><br />
                        <span class="text-small">Assignation</span> 
                    </div>
                </div>
            </div>
        </div>
 -->

         <!-- <div class="row height-20 text-center stable-bg">
            <div class="col padding" >
                <div class="card contact" ui-sref="app.tax">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/icon/tax.png" style="width: 42px;height: 42px;"><br />
                        <span class="text-small">Tax Statement</span> 
                    </div>
                </div>
            </div>
            <div class="col padding">
               
            </div>
        </div> -->
        
        
        
    </ion-content>
</ion-view>