<ion-view title="Print Letter" cache-view="false">
  <ion-content padding="true" class="has-header materialize" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div style="height:100%">
        <!-- <div> -->
            <!-- {{listLetter}} -->
        <div ng-repeat="letter in listLetter">
          <div class="row height-45 text-center stable-bg" ng-if="$even">
            <div class="col" ng-repeat="itemGenap in listLetter[$index]">
                <!-- {{}} -->
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGenap.key == 'SRT_PKWT' && dataEmpStatus == 'Karyawan Kontrak - 1'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGenap.key}}">
                  <img ng-src="img/talents/icon/{{itemGenap.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGenap.value}}</span><br />
                  <span class="text-small">({{itemGenap.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGenap.key == 'SRT_AMANDEMENT' && dataEmpStatus == 'Karyawan Kontrak - 2'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGenap.key}}">
                  <img ng-src="img/talents/icon/{{itemGenap.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGenap.value}}</span><br />
                  <span class="text-small">({{itemGenap.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGenap.key == 'SRT_PENGANGKATAN' && dataEmpStatus == 'Karyawan Tetap'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGenap.key}}">
                  <img ng-src="img/talents/icon/{{itemGenap.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGenap.value}}</span><br />
                  <span class="text-small">({{itemGenap.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGenap.key == 'SRT_KET_KERJA'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGenap.key}}">
                  <img ng-src="img/talents/icon/{{itemGenap.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGenap.value}}</span><br />
                  <span class="text-small">({{itemGenap.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGenap.key == 'SRT_PERNYATAAN_PAJAK'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGenap.key}}">
                  <img ng-src="img/talents/icon/{{itemGenap.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGenap.value}}</span><br />
                  <span class="text-small">({{itemGenap.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGenap.key == 'SRT_VISA'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGenap.key}}">
                  <img ng-src="img/talents/icon/{{itemGenap.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGenap.value}}</span><br />
                  <span class="text-small">({{itemGenap.description}})</span>
                </div>
              </div>
            </div>
            <div class="col" ng-repeat="itemGanjil in listLetter[$index + 1]">
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGanjil.key == 'SRT_PKWT' && dataEmpStatus == 'Karyawan Kontrak - 1'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGanjil.key}}">
                  <img ng-src="img/talents/icon/{{itemGanjil.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGanjil.value}}</span><br />
                  <span class="text-small">({{itemGanjil.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGanjil.key == 'SRT_AMANDEMENT' && dataEmpStatus == 'Karyawan Kontrak - 2'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGanjil.key}}">
                  <img ng-src="img/talents/icon/{{itemGanjil.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGanjil.value}}</span><br />
                  <span class="text-small">({{itemGanjil.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGanjil.key == 'SRT_PENGANGKATAN' && dataEmpStatus == 'Karyawan Tetap'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGanjil.key}}">
                  <img ng-src="img/talents/icon/{{itemGanjil.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGanjil.value}}</span><br />
                  <span class="text-small">({{itemGanjil.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGanjil.key == 'SRT_KET_KERJA'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGanjil.key}}">
                  <img ng-src="img/talents/icon/{{itemGanjil.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGanjil.value}}</span><br />
                  <span class="text-small">({{itemGanjil.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGanjil.key == 'SRT_PERNYATAAN_PAJAK'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGanjil.key}}">
                  <img ng-src="img/talents/icon/{{itemGanjil.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGanjil.value}}</span><br />
                  <span class="text-small">({{itemGanjil.description}})</span>
                </div>
              </div>
              <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:45px" ng-if="itemGanjil.key == 'SRT_VISA'">
                <div class="item item-text-wrap light-bg" ui-sref="app.{{itemGanjil.key}}">
                  <img ng-src="img/talents/icon/{{itemGanjil.key}}.png" style="width: 100px;height: 50px;">
                  <br />
                  <span class="text-small">{{itemGanjil.value}}</span><br />
                  <span class="text-small">({{itemGanjil.description}})</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  <div class="col">
                        <div class="card contact"  ng-if="letter[$index] !== undefined" style="margin-right:10px;margin-bottom:10px;min-height:115px">
                            <div class="item item-image item-text-wrap" ui-sref="app.{{letter[$index].key}}">
                                <div><img ng-src="img/talents/icon/{{letter[$index].key}}.png"></div>
                                <p class="" ng-if="letter[$index + 0]">{{letter[$index].value}}</p>
                            </div>
                            
                        </div>
                    </div>


                    <div class="row" ng-if="$index % 2 == 0">
                        <div class="col">
                            <div class="card contact"  ng-if="letter[$index] !== undefined" style="margin-right:0px;margin-bottom:10px;min-height:115px">
                                <div class="item item-image item-text-wrap" ui-sref="app.{{letter[$index + 1].key}}">
                                    <div><img ng-src="img/talents/icon/{{letter[$index + 1].key}}.png"></div>
                                    <p class="" ng-if="letter[$index + 1]">{{letter[$index + 1].value}}</p>
                                </div>
                                
                            </div>
                        </div>    
                    </div> -->
        <!-- </div> -->
        <div class="item" ng-if="letter.length == 0">
          <div class="col col-100">
            <h2>No Print Letter Available</h2>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
