<ion-view title="Pkwt Letter">
  <ion-content padding="true" class="has-header materialize" scroll="true">
    <div class="container text-center">
      <br />
        <h1><b>INFORMATION</b></h1>
      <br />
      <br />
      You will print a PKWT Letter
        <br />Including those 2 Letters below in the PDF
      <br />
      <br />
        Statement Target Letter
        <br /> Benefit Letter
      <br />
    </div>
    <div class="item padding">
      <center><img width="400px" height="150px" ng-src="img/ssletter/pkwt.png" ng-click="openImagePreview('img/ssletter/pkwt.png')" /></center>
      <br />
      <center>Statement Target Letter</center>
      <br />
      <center><img width="400px" height="150px" ng-src="img/ssletter/pkwt/target.png" ng-click="openImagePreview('img/ssletter/pkwt/target.png')" /></center>
      <br />
      <center>Benefit Letter</center>
      <br />
      <center><img width="400px" height="150px" ng-src="img/ssletter/pkwt/benefit.png" ng-click="openImagePreview('img/ssletter/pkwt/benefit.png')" /></center>
      <br />
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#00BFFF" ng-click="printPdf()"><i class="icon ion-android-download"></i>&nbsp;Print As PDF</button>
    </div>
  </ion-content>
</ion-view>
