<ion-view title="Statement Letter">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
       <form name="form" novalidate>
        <div class="container text-center">
          <p class="text-medium" align="left"><b>Write your reason for requesting Statement Letter</b></p><br />

          <p>Pengajuan:</p>
          <textarea  placeholder="Ex: KPA / KPR atau lainnya"  style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="1" ng-model="requestHeader.purpose" maxlength="100" name="requestHeader.purpose" required></textarea>
          <br/>
          <p>Pada Instansi:</p>
          <textarea  placeholder="Ex: Bank Permata / Instansi lainnya"  style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="1" ng-model="requestHeader.instansi" maxlength="100" name="requestHeader.instansi" required></textarea>

          <br />
          <span><center><b>You are about to print an Statement Letter</b></center></span><br />
          <span><center>Click the picture below for an <b>example</b> letter of statement letter </center></span>
          <br />
        </div>
        <div class="item padding">
          <center><img width="400px" height="150px" class="text-center" ng-src="img/ssletter/statment.png" ng-click="openImagePreview('img/ssletter/statment.png')" /></center>
          <br />
        </div>

        
        <div class="row">
          <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800"  ng-disabled="form.$invalid"  ng-click="requestLetter()">&nbsp;Request</button>
        </div>
      </form>

    </ion-content>

</ion-view>