<ion-view title="Tax Letter">
  <ion-content padding="true" class="has-header materialize" scroll="true">
    <div class="container text-center">
      <br />
      <b>You are about to print an Tax Letter</b></center>
      <br />
      <br /> Click the picture below for an <b>example</b> letter of Tax letter
      <br />
      <br />
    </div>
    <div class="item padding">
      <center><img width="400px" height="150px" src="img/ssletter/tax.png" ng-click="openImagePreview('img/ssletter/tax.png')" /></center>
      <br />
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#00BFFF" ng-click="printPdf(sptai.year)"><i class="icon ion-android-download"></i>&nbsp;Print As PDF</button>
    </div>
    </div>
  </ion-content>
</ion-view>
