<ion-view title="Visa Letter">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
      <form name="form" novalidate>
        <div class="item">

          <!-- <p ng-bind-html="dataHtml"></p> -->



        </div>

        <div class="item">
          <p align="left"><b>Country Destination</b></p><br />
          <textarea   style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="1" ng-model="requestHeader.country_destination" maxlength="100" name="requestHeader.country_destination" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" placeholder="Ex : Germany" required></textarea>
        </div>

        <div class="item">
          <p align="left"><b>Passport Number</b></p><br />
          <textarea   style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="1" ng-model="requestHeader.passport_number" maxlength="100" name="requestHeader.passport_number" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" placeholder="Ex : 3400000123" required></textarea>
        </div>



        <div class="item">
          <p align="left"><b>Imigration Office</b></p><br />
          <textarea  style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="1" ng-model="requestHeader.immigration_office" maxlength="100" name="requestHeader.immigration_office" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" placeholder="Ex : Jakarta Timur" required></textarea>
        </div>

        <div class="item">
          <p align="left"><b>Departure Purpose</b></p><br />
          <select ng-model="requestHeader.purpose" required>
            <!-- <option value="">-- Select --</option> -->
            <option value="HOLIDAY">Holiday</option>
            <option value="BUSINESSTRIP">Business Trip</option>
            <option value="TRAINING">Training</option>
          </select>
        </div>

        <div class="item">
            <p align="left"><b>Departure Date</b></p><br />
            <p>From</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()" required>
              {{requestHeader.departure_date_from | date: "yyyy-MM-dd"}}
            </ionic-datepicker>
            <p>To</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker2()" required>
              {{requestHeader.departure_date_to | date: "yyyy-MM-dd"}}
            </ionic-datepicker>
        </div>

        <div class="item">
          <p align="left"><b>Embassy Name</b></p><br />
          <textarea  style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="1" ng-model="requestHeader.embassy_name" maxlength="100" name="requestHeader.embassy_name" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" placeholder="Ex : Kedutaan Jerman" required></textarea>
        </div>


        <div class="item">
          <p align="left"><b>Embassy Location</b></p><br />
          <textarea   style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="1" ng-model="requestHeader.embassy_location" maxlength="100" name="requestHeader.embassy_location" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" placeholder="Ex : Sudirman" required></textarea>
        </div>

        <div class="item">
          <p align="left"><b>Financed By</b></p><br />
          <select ng-model="requestHeader.financed_by" required>
            <option value="PERSONAL">Personal</option>
            <option value="Astra Credit Companies">Astra Credit Companies</option>
          </select>
        </div>

        <div class="row">
          <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800"  ng-disabled="form.$invalid"  ng-click="requestLetter()">&nbsp;Request</button>
        </div>
      </form>

    </ion-content>

</ion-view>