<ion-view title="Find Request" class="bg-lightgrey">
<style>
    .left {
        text-align: left;
        float: left;
        width: 50%;
    }
    .right {
        text-align: right;
        float: right;
        width: 50%;
    }
    .thicker {
        font-weight: bold;
    }
</style>
<ion-content class="has-header bt-grey" scroll="false">
    <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper" >
              <input type="text" ng-model="formSearching.search"  placeholder="Request No">
            </label>
            <button class="button button-small button-calm" ng-click="find(0)">
              Search &nbsp;
            </button>
          </div>
    </div>
<ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
  <!--   <div class="card" ng-repeat="item in requests" ui-sref="app.benefitdetail({id: item.id})" ng-if="item.module=='Benefit' ">
      <div class="item item-avatar item-text-wrap" >
                <img ng-if="item.dataApproval.employeeRequestPhotoProfile!=null" ng-src="{{item.dataApproval.employeeRequestPhotoProfile}}">
                <img ng-if="item.dataApproval.employeeRequestPhotoProfile==null" ng-src="img/1491892511_profle.png">
                <h2 class="lead">{{item.name}}</h2>
      </div>
      <div class="item item-text-wrap" >
        <div class="row">
            <div class="left"><h5 style="color: #949494;">{{item.createdDate | date: 'dd MMM yyyy'}}</h5></div>
            <div class="right"><h5 class="energized ">{{item.status}}</h5></div>
        </div>
        <div class="row">
            <h5 class="uppercase no-margin no-padding thicker"><b>#{{item.reqNo}}</b></h5>
        </div>
        <div class="row">
            <div class="uppercase"><h2 class="thicker">{{item.categoryType}}</h2></div>
        </div>
        <div class="row" ng-if="item.categoryType != 'Medical Overlimit'">
            <div class="uppercase"><h5 class="positive no-margin no-padding thicker">Rp. {{item.totalAmount | number : 0}}</h5></div>
        </div>
    </div>
   </div>

   <div class="card" ng-repeat="item in requests" ui-sref="app.detailleave({id: item.id})" ng-if="item.module=='Time Management' ">
      <div class="item item-avatar item-text-wrap" >
                <img ng-if="item.dataApproval.employeeRequestPhotoProfile!=null" ng-src="{{item.dataApproval.employeeRequestPhotoProfile}}">
                <img ng-if="item.dataApproval.employeeRequestPhotoProfile==null" ng-src="img/1491892511_profle.png">
                <h2 class="lead">{{item.dataApproval.employeeRequest.name}}</h2>
      </div>
      <div class="item item-text-wrap" >
        <div class="row">
            <div class="left"><h5 style="color: #949494;">{{item.createdDate | date: 'dd MMM yyyy'}}</h5></div>
            <div class="right"><h5 class="energized ">{{item.status}}</h5></div>
        </div>
        <div class="row">
            <h5 class="uppercase no-margin no-padding thicker"><b>#{{item.reqNo}}</b></h5>
        </div>
        <div class="row">
            <div class="uppercase"><h2 class="thicker">{{item.categoryType}}</h2></div>
        </div>
        <div class="row" ng-if="item.categoryType != 'Medical Overlimit'">
            <div class="uppercase"><h5 class="positive no-margin no-padding thicker">Total {{item.totalAmount | number : 0}} Days</h5></div>
        </div>
    </div>
   </div> -->

   <!-- <div ng-if="module.type === 'personalia'"> -->
   <div class="card" ng-repeat="item in requests | filter: searchFilter ">
        <div ng-if="item.module === 'personalia'">
            <div class="item item-avatar item-text-wrap" ng-if="item.task=='SUBMITFAMILY'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.taskDescription}}</p>
                <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            </div>
            <div class="item item-avatar item-text-wrap" ng-if="item.task=='SUBMITADDRESS'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.description}}</p>
                <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            </div>
            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEFAMILY'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.description}}</p>
                <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            </div>
            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEADDRESS'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.description}}</p>
                <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            </div>

            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEMARITALSTATUS'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}"/>
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.taskDescription}}</p>
                <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            </div>

            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGENPWP'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}"/>
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.taskDescription}}</p>
                <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
            </div>

            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGENIRCNO'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}"/>
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.taskDescription}}</p>
                <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
            </div>

            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEKTPNAME'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}"/>
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.taskDescription}}</p>
                <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
            </div>

            <div class="item item-avatar item-text-wrap" ng-if="item.task=='CHANGEFAMILYCARDNO'" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}"/>
                <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p>{{item.taskDescription}}</p>
                <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
                
            </div>
            
            <div class="item item-text-wrap" ng-if="item.task=='SUBMITLEAVE'" ng-click="gotoDetailRequest(item.id)" >
                <div class="row">
                    <div class="col col-10"><img ng-src="{{item.photoProfile}}"></div>
                    <div class="col col-80" style="valign:center"><h2 class="lead">{{item.firstName}} {{item.lastName}}</h2>
                    <p>{{item.employeeNo}}</p>
                    <p>{{item.positionName}}</p>
                    </div>
                    <div class="col col-10"><p class="text-smaller pull-right" style="right:32px" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p></div>
                </div>
                <div class="row item">
                    <div class="col col-10"><span class="item item-icon-left" >
                        <i class="icon ion-ios-list-outline"></i>
    
                    </span> </div>
                    <div class="col col-80">{{item.leaveTypeName}}</div>
                    <div class="col col-10"></div>
                </div>
                <div class="row">
                    <div class="col col-10"><span class="item item-icon-left" ><i class="icon ion-ios-calendar-outline"></i></span> </div>
                    <div class="col col-80"><p>{{item.startDate}} - {{item.endDate}}</p></div>
                    <div class="col col-10"><span class="badge badge-balanced" style="top:50px">{{item.days}}</span></div>
                </div>

                <div class="row card-action pull-right">
                    <button class="waves-effect waves-light btn button-calm" ng-click="approval('rejected',{{item.id}})">Reject</button>&nbsp;&nbsp;
                    <button class="waves-effect waves-light btn button-balanced" ng-click="approval('approved',{{item.id}})">Approve</button>
                </div><br>
            </div>
        </div>
        <div ng-if="item.module === 'benefit'">
            <p>{{item.name}}</p>
            <div class="item item-avatar item-text-wrap" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm text-smaller">
                    {{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p class="text-small" >{{item.categoryType}}</p>
                <p class="text-small">No Rek Transfer Claim To: {{item.bankAccount}} {{item.bank_name_c_trans}} <span ng-if="item.accountName != null">An {{item.accountName}} </span></p>
                <p class="text-small" ng-if="item.categoryType!='Medical Overlimit'">Total : Rp. {{item.totalAmount | number:0}}</p>
                <span class="item-note positive text-smaller">
                       Approval {{item.currentApprovalLevel + 1}} of {{item.approvalLevel}}
                </span>
                   
            </div>
        </div>

        <div ng-if="item.module === 'attendance'">
            <div class="item item-avatar item-text-wrap" ng-click="gotoDetailRequest(item.id)" >
                <img ng-src="{{item.photoProfile}}">
                <span class="item-note calm text-smaller">
                    {{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}
                </span>
                <h2 class="lead">{{item.name}}</h2>
                <p>{{item.employeeNo}}</p>
                <p>{{item.positionName}}</p>
                <p class="text-medium" >{{item.categoryType}}</p>
                <p class="text-smaller" ng-if="item.categoryType!='Overtime'">{{item.tmReqStartDate | date: 'dd MMM yyyy'}} - {{item.tmReqEndDate | date: 'dd MMM yyyy'}}</p>
                <p class="text-smaller" ng-if="item.categoryType=='Overtime'" >{{item.startDateInTime | date: 'dd MMM HH:mm'}} - {{item.endDateInTime | date: 'dd MMM HH:mm'}}</p>
                <span class="item-note positive text-smaller">
                       Approval {{item.currentApprovalLevel + 1}} of {{item.approvalLevel}}
                </span>
                    
            </div>
        </div>
    </div>
    <div class="row" ng-if="requests.length != 0"  ng-show="isLoadMoreShow" style="padding-top:0px;min-height:120px">    
        <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMore()">Load More Results</button>
    </div>
    <div class="item" ng-if="requests.length == 0" >
            <div class="col col-100">
                <h2>No request available</h2>
                <p>Please Pull to refresh</p>
            </div>  
    </div>
    <div class="item" ng-if="requests.length == 0 && actionFind==true" >
        <div class="col col-100">
            <h2>Data not found</h2>
        </div>  
    </div>
</ion-content>
</ion-view>