<ion-view title="Request Detail" class="bg-lightgrey">
  <ion-content class="has-header bt-grey profile" scroll="true">
    <div class="list">
      <div class="item item-text-wrap">
        <p class="text-small">Letter No</p>
        <h2 class="lead text-medium">{{detail.letter_no}}</h2>
      </div>
      <div class="item item-text-wrap">
        <p class="text-small">Letter Type</p>
        <h2 class="lead text-medium">{{detail.letterType}}</h2>
      </div>
      <div class="item item-text-wrap">
        <p class="text-small">Purpose</p>
        <h2 class="lead text-medium">{{detail.purpose}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.instansi != null">
        <p class="text-small">Instance</p>
        <h2 class="lead text-medium">{{detail.instansi}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.financedBy != null">
        <p class="text-small">Finance By</p>
        <h2 class="lead text-medium">{{detail.financedBy}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.immigrationOffice != null">
        <p class="text-small">Immigration Office</p>
        <h2 class="lead text-medium">{{detail.immigrationOffice}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.embassyName != null">
        <p class="text-small">Embassy Name</p>
        <h2 class="lead text-medium">{{detail.embassyName}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.embassyLocation != null">
        <p class="text-small">Embassy Location</p>
        <h2 class="lead text-medium">{{detail.embassyLocation}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.countryDestination != null">
        <p class="text-small">Country Destination</p>
        <h2 class="lead text-medium">{{detail.countryDestination}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.passportNumber != null">
        <p class="text-small">Passport Number</p>
        <h2 class="lead text-medium">{{detail.passportNumber}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.departureDateFrom != null">
        <p class="text-small">Departure Date from</p>
        <h2 class="lead text-medium">{{detail.departureDateFrom}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.departureDateTo != null">
        <p class="text-small">Departure Date to</p>
        <h2 class="lead text-medium">{{detail.departureDateTo}}</h2>
      </div>
      <div class="item item-text-wrap" ng-if="detail.status != null">
        <p class="text-small">Status</p>
        <h2 class="lead text-medium">{{detail.status}}</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
