<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive no-b">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <!-- Left menu -->
  <ion-side-menu>
    <ion-content>
      <!-- User profile -->
      <div class="profile positive-bg text-center padding">
        <a ui-sref="app.profile" class="header">
          <img class="profile-picture circle" menu-close src="{{general.userPhoto}}">
          <h5 class="light" style="font-weight:bold">{{profile.fullname}}
            <br>{{profile.employeeTransient.assignment.employeeNo}}</h5>
        </a>
      </div>
      <!-- Menu -->
      <div class="list" menu-close>
        <!--
        <div class="item item-icon-left" ui-sref="app.home">
          <i class="icon ion-ios-home-outline"></i>
          Home
        </div>-->
        <div class="item item-icon-left" ui-sref="app.myhr">
          <i class="icon ion-ios-list-outline"></i>
          My HR
        </div>
        <div class="item item-icon-left" ui-sref="app.selfservice">
          <i class="icon ion-ios-body-outline"></i>
          Self Service
        </div>
        <div class="item item-icon-left" ui-sref="app.myteam" ng-show="profile.isLeader == true">
          <i class="icon ion-ios-people"></i>
          My Team
        </div>
        <!-- <div class="item item-icon-left" ui-sref="app.requestapproval" ng-show="profile.isAdmin==true || profile.isLeader == true">
          <i class="icon ion-email"></i>
          Approval <span class="badge badge-assertive">{{general.countApproval}}</span>
        </div> -->
        <div class="item item-icon-left" ui-sref="app.requestapprovalhome"
          ng-show="profile.isAdmin==true || profile.isLeader == true">
          <i class="icon ion-email"></i>
          Approval <span class="badge badge-assertive">{{general.countApproval}}</span>
        </div>
        <div class="item item-icon-left" ui-sref="app.approvalhistory"
          ng-show="profile.isAdmin==true || profile.isLeader == true">
          <i class="icon ion-email"></i>
          History Approval
        </div>
        <!-- <div class="item item-icon-left" ui-sref="app.myrequest">
          <i class="icon ion-compose"></i>
          My Request
        </div> -->
        <div class="item item-icon-left" ui-sref="app.myrequesthome">
          <i class="icon ion-compose"></i>
          My Request
        </div>
        <div class="item item-icon-left" ui-sref="app.checkinout" ng-click="log();">
          <i class="icon ion-ios-body-outline"></i>
          Check In/Out <span class="badge badge-assertive"
            ng-show="profile.isLeader == true">{{general.needApprovalTM}}</span>
        </div>

        <div class="item" ui-sref="app.interview-main" style="padding: 16px;height: 54px;" ng-click="log();"
          ng-show="profile.isCareerAdmin == true">
          <img src="img/talents/mobile-interview/interview-SideMenu-32px.png" style="float: left;text-align: center;  position: absolute;
            top: 10px;">
          <span style="padding-left: 40px;">Interview</span>
        </div>

        <div class="item" ui-sref="app.interview-schedule" style="padding: 16px;height: 54px;" ng-click="log();"
          ng-show="profile.isCareerAdmin != true">
          <img src="img/talents/mobile-interview/interview-SideMenu-32px.png" style="float: left;text-align: center;  position: absolute;
            top: 10px;">
          <span style="padding-left: 40px;">Interview</span>
        </div>

        <div class="item item-icon-left" ui-sref="app.administration" ng-if="profile.talentsAuthorities['ADMIN']">
          <i class="icon ion-gear-b"></i>
          Administration
        </div>
        <div class="item item-icon-left" ui-sref="app.listattendancegroup" ng-show="profile.isAttendanceAdmin == true">
          <i class="icon ion-compose"></i>
          Attendance Group
        </div>
        <div class="item item-icon-left" ui-sref="app.announcement">
          <i class="icon ion-speakerphone"></i>
          Announcement <span class="badge badge-assertive">{{general.countAnnouncement}}</span>
        </div>
        <div class="item item-icon-left" ui-sref="app.mycompany">
          <i class="icon ion-briefcase"></i>
          My Company
        </div>
        <div class="item item-icon-left" ui-sref="app.about">
          <i class="icon ion-ios-information-outline"></i>
          About
        </div>
        <div class="item item-icon-left" ng-click="signOut()">
          <i class="icon ion-log-out"></i>
          Logout
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
