<ion-view title="Performance" cache-view="false">
  <ion-content padding="true" class="has-header materialize" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div style="height:100%">

        <div class="row height-45 text-center stable-bg">
          <div class="col">
            <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:50px; height: 120px;">
              <div class="item item-text-wrap light-bg" ui-sref="app.perfomance_list">
                <img ng-src="img/talents/42/42-list-performance.png">
                <br />
                <span class="text-small">List Performance</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card contact" style="margin-right:10px;margin-bottom:10px;min-height:50px; height: 120px;">
              <div class="item item-text-wrap light-bg" ng-click="openBrowser()">
                <img ng-src="img/talents/42/42-input-performance.png">
                <br />
                <span class="text-small">Input Performance</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
