<ion-view title="Applicant Selection" class="bg-lightgrey" cache-view="true">

  <ion-nav-buttons side="right">
    <img style="cursor:pointer;" src="img/talents/mobile-interview/save-32px.png" ng-click="saveData()" ng-if="isCareerAdmin == true && dataApp.result === 'In Progress'">
  </ion-nav-buttons>

  <script id="modal.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
        <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(0);">
            <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
        </button>
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" ng-model="findByNpk.search" placeholder="Search" maxlength="50"/>
        </label>
        <button class="button button-clear" ng-click="searchByNpk(0);">
        Search  
        </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
        <ion-list>
          <ion-item ng-repeat="p in npkItems" ng-click="getValue(p.fullName,p.employeeNo,p.employee)">
            <h3>{{p.fullName}}</h3>
            <h4 class="positive">{{p.employeeNo}}</h4>
          </ion-item>
        </ion-list>
        <div class="item" ng-if="npkItems.length == 0 && findStatus == true && noDataShow == true">
          <h3 class="assertive">No data available</h3>
        </div>  
        <div class="row" ng-show="isLoadMoreShow">
          <button ng-disabled="isFirst;" ng-click="loadPrevNpk();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
          <button ng-disabled="isLast;" ng-click="loadMoreNpk();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
        </div>      
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="modalInterviewGuide.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;"
            ng-click="closeModalInterviewGuide();">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
          <label class="center-block text-large">
              Interview Greeting
          </label>
      </div>
      <ion-content class="has-header bt-grey assertive">
          <div class="container">
              <p ng-if="InterviewGreeting.length > 0" 
                ng-bind-html="trustAsHtml(InterviewGreeting[0].description)">
              </p>
              <br/>
              <span class="center-block text-medium" style="display: inline-block;">
                * Jika Anda ingin mengetahui panduan pertanyaan untuk interview silahkan klik 
                <a ng-click="openBrowser()"> di sini. </a>
              </span>
              <ion-checkbox ng-model="modalIntvGreeting.blockIntvGreetingPopup" >
                Don't show this for Today
              </ion-checkbox>
          </div>
      </ion-content>
  </ion-modal-view>
</script>




  <ion-content class="has-header bt-grey profile" scroll="true">

    <div class="header">
      <img ng-src="{{dataApp.applicantSelection.applicant.photo}}">
      <h2 class="lead text-medium">{{dataApp.applicantSelection.applicant.name}}</h2>
      <p>{{dataApp.applicantSelection.jobRequisition}}</p>
    </div>

    <div class="list">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Job Requistion</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.applicantSelection.jobRequisition}}</p>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Apply Date</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.applicantSelection.applyDate | date: 'dd MMM yyyy'}}</p>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Apply Time</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.applicantSelection.applyDate | date: 'HH:mm'}}</p>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Score</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.applicantSelection.score}}</p>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Status</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.applicantSelection.status}}</p>
          </div>
        </div>
      </div>


    </div>

    <div class="list">
      <div class="item item-divider">
        Interview Schedule
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Date</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.schedule | date: 'dd MMM yyyy'}}</p>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Time</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.schedule | date: 'HH:mm'}}</p>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>PIC</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.picEmployee.name}}</p>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Delegate to</b></h2>
          </div>
          <div class="col" ng-if="isCareerAdmin == false">
            <p class="text-medium">{{dataApp.delegateEmployee.fullNameTitle}}</p>
          </div>

          <div class="col" ng-if="isCareerAdmin == true">
            <p class="text-medium">{{showDelegateName}}</p>
            <div class="item-icon-right" ng-if="dataApp.result === 'In Progress'">
              <button class="button button-icon dark icon ion-ios-search" ng-click="openModal(1);">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h2 class="lead text-medium"><b>Result</b></h2>
          </div>
          <div class="col">
            <p class="text-medium">{{dataApp.result}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <a ui-sref="app.profile-candidate({id: dataApp.applicantSelection.applicant.id})">
          <img src="img/talents/mobile-interview/profile-32px.png"><br>
          <span style="font-size: 0.7em !important;">Profile</span>
        </a>
      </div>

      <div class="col padding">
        <a ui-sref="app.prescreening-result({idUser: dataApp.applicantSelection.applicant.webcareerId, idJob: dataApp.applicantSelection.jobRequisitionId})">
          <img src="img/talents/mobile-interview/prescreening-32px.png"><br>
          <span style="font-size: 0.7em !important;">Prescreening Result</span>
        </a>
      </div>

      <div class="col padding">
        <a ui-sref="app.interview-result({id: dataApp.applicantSelectionId})">
          <img src="img/talents/mobile-interview/interviewResult-32px.png"><br>
          <span style="font-size: 0.7em !important;">Interview Result</span>
        </a>
      </div>

      <div class="col padding">
        <!-- <a ui-sref="app.interview-supporting-doc({id: dataApp.applicantSelection.applicant.id})"> -->
        <a ui-sref="app.interview-supporting-doc({id: dataApp.applicantSelectionId})">
          <img src="img/talents/mobile-interview/supportingDocument-32px.png"><br>
          <span style="font-size: 0.7em !important;">Supporting Document</span>
        </a>
      </div>

      <div class="col padding" ng-if="(dataApp.result === '' || dataApp.result === 'In Progress' || dataApp.result === null) 
          && (dataApp.schedule | date: 'dd MMM yyyy') === (today | date: 'dd MMM yyyy') ">
        <a ui-sref="app.form-interview({id: dataApp.id})">
          <img src="img/talents/mobile-interview/formInterview-32px.png"><br>
          <span style="font-size: 0.7em !important;">Form Interview</span>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>