<ion-view title="Applicant Selection" class="bg-lightgrey" cache-view="true">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-settings-strong" ng-click="openModalAllSchedule()"></button>
  </ion-nav-buttons>
  <script id="modalAllScheduleAdmin.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
        <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalAllSchedule(0);">
            <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
        </button>
      </div>
  
      <ion-content class="has-header bt-grey assertive">
          <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()"></ion-refresher>
     
          <div class="item padding">
            <div class="item item-divider">Filter By</div>
            <div class="row">
              <div class="input-field col">
                <p>Name</p>
                <textarea ng-model="scheduleRange.name"></textarea>
              </div>
            </div><div class="row">
              <div class="input-field col">
                <p>Job Requisition</p>
                <textarea ng-model="scheduleRange.jobRequisition"></textarea>                
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Start Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openStartDatePicker()">
                  {{scheduleRange.startDate | date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>End Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openEndDatePicker()">
                  {{scheduleRange.endDate | date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <button class="btn waves-effect button-medium waves-light button button-balanced button-block" ng-click="searchScheduleRange()">OK</button>
            </div>
          </div>

      </ion-content>
  </ion-modal-view>
  </script>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:95%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>

      <div class="item item-icon-right" ng-if="allSchedule.iRCInterviewSchedule.length > 0" ng-click="gotoDetail({{allSchedule.iRCInterviewSchedule[0].id}})" ng-repeat="allSchedule in listInterviewScheduleAll">
        <div class="row">
          <div class="col">
            <h2>{{allSchedule.applicant.name}}</h2>
            <p>{{allSchedule.jobRequisition}}</p>
            <p>{{allSchedule.applyDate | date: 'dd MMM yyyy HH:mm'}}</p>
          </div>

          <div class="col">
            <p style="float: right;" ng-if="allSchedule.status == 'New Candidate' && allSchedule.status != ''">New Candidate</p>
            <p style="float: right;" ng-if="allSchedule.status == 'Hired' && allSchedule.status != ''">Hired</p>
            <p style="float: right;" ng-if="allSchedule.status == 'Failed' && allSchedule.status != ''">Failed</p>
          </div>
        </div>
      </div>
      
      <div class="item item-icon-right" ng-if="allSchedule.iRCInterviewSchedule.length <= 0" ng-repeat="allSchedule in listInterviewScheduleAll">
        <div class="row">
          <div class="col">
            <h2>{{allSchedule.applicant.name}}</h2>
            <p>{{allSchedule.jobRequisition}}</p>
            <p>{{allSchedule.applyDate | date: 'dd MMM yyyy HH:mm'}}</p>
          </div>

          <div class="col">
            <p style="float: right;" ng-if="allSchedule.status == 'New Candidate' && allSchedule.status != ''">New Candidate</p>
            <p style="float: right;" ng-if="allSchedule.status == 'uu'">New ee</p>
          </div>
        </div>
      </div>

      <div class="item" ng-if="listInterviewScheduleAll.length == 0">
        <div class="col col-100">
          <h2>No schedule available</h2>
          <p>Please Pull to refresh</p>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
