<ion-view title="Interview Schedule" class="bg-lightgrey" cache-view="true">
  <ion-nav-buttons side="right">
    <button ng-if="module.type === 'all'" class="button button-clear icon ion-ios-settings-strong"
      ng-click="openModalAllSchedule()"></button>
  </ion-nav-buttons>
  <script id="modalAllSchedule.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
        <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalAllSchedule();">
            <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
        </button>
      </div>
  
      <ion-content class="has-header bt-grey assertive">
          <div class="item padding">
            <div class="item item-divider">Filter By</div>
            <div class="row">
              <div class="input-field col">
                <p>Interview Status</p>
                <select ng-model="scheduleRange.interviewStatus" style="height: 40px;" >    
                  <option value="">-- Select --</option>  
                  <option value="In Progress">In Progress</option>  
                  <option value="Pass">Pass</option>
                  <option value="Failed">Failed</option>
                  <option value="Divert">Divert</option>
                  <option value="Skip">Skip</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Start Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openStartDatePicker()">
                  {{scheduleRange.startDate | date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>End Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openEndDatePicker()">
                  {{scheduleRange.endDate | date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <button class="btn waves-effect button-medium waves-light button button-balanced button-block" ng-click="searchScheduleRange()">OK</button>
            </div>
          </div>

      </ion-content>
  </ion-modal-view>
  </script>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'today' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('today')"><b>Today</b></div>
      <div class="col font-thin" ng-class="module.type === 'tomorrow' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('tomorrow')"><b>Tomorrow</b></div>
      <div class="col font-thin" ng-class="module.type === 'all' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('all')"><b>All</b></div>
    </div>
    <ion-scroll class="bg-lightgrey" direction="y" style="height:95%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
        pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div ng-if="module.type === 'today'">
        <div class="item" ng-click="gotoDetail({{todaySchedule.id}})"
          ng-repeat="todaySchedule in listInterviewScheduleToday">
          <div class="row">
            <div class="col">
              <h2>{{todaySchedule.applicantSelection.applicant.name}}</h2>
              <p>{{todaySchedule.applicantSelection.jobRequisition}}</p>
              <p>{{todaySchedule.schedule | date: 'dd MMM yyyy HH:mm'}}</p>
            </div>
            <div class="col col-center">
              <img ng-if="todaySchedule.result === 'Pass'" src="img/talents/mobile-interview/passInterview-32px.png"
                style="float: right;">
              <img
                ng-if="todaySchedule.result === 'In Progress' || todaySchedule.result == '' || todaySchedule.result == null"
                src="img/talents/mobile-interview/onProgressSchedule-32px.png" style="float: right;">
              <img ng-if="todaySchedule.result === 'Failed'" src="img/talents/mobile-interview/failInterview-32px.png"
                style="float: right;">
              <img ng-if="todaySchedule.result === 'Skip'" src="img/talents/mobile-interview/skipInterview-32px.png"
                style="float: right;">
              <img ng-if="todaySchedule.result === 'Divert'" src="img/talents/mobile-interview/referInterview-32px.png"
                style="float: right;">
            </div>
          </div>
        </div>
        <div class="item" ng-if="listInterviewScheduleToday.length == 0">
          <div class="col col-100">
            <h2>No schedule available</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>

      <div ng-if="module.type === 'tomorrow'">
        <div class="item item-icon-right" ng-click="gotoDetail({{tomorrowSchedule.id}})"
          ng-repeat="tomorrowSchedule in listInterviewScheduleTomorrow">
          <div class="row">
            <div class="col">
              <h2>{{tomorrowSchedule.applicantSelection.applicant.name}}</h2>
              <p>{{tomorrowSchedule.applicantSelection.jobRequisition}}</p>
              <p>{{tomorrowSchedule.schedule | date: 'dd MMM yyyy HH:mm'}}</p>
            </div>
            <div class="col col-center">
              <img ng-if="tomorrowSchedule.result === 'Pass'" src="img/talents/mobile-interview/passInterview-32px.png"
                style="float: right;">
              <img
                ng-if="tomorrowSchedule.result === 'In Progress' || tomorrowSchedule.result == '' || tomorrowSchedule.result == null"
                src="img/talents/mobile-interview/onProgressSchedule-32px.png" style="float: right;">
              <img ng-if="tomorrowSchedule.result === 'Failed'"
                src="img/talents/mobile-interview/failInterview-32px.png" style="float: right;">
              <img ng-if="tomorrowSchedule.result === 'Skip'" src="img/talents/mobile-interview/skipInterview-32px.png"
                style="float: right;">
              <img ng-if="tomorrowSchedule.result === 'Divert'"
                src="img/talents/mobile-interview/referInterview-32px.png" style="float: right;">
            </div>
          </div>
        </div>
        <div class="item" ng-if="listInterviewScheduleTomorrow.length == 0">
          <div class="col col-100">
            <h2>No schedule available</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>

      <div ng-if="module.type === 'all'">
        <div class="item item-icon-right" ng-click="gotoDetail({{allSchedule.id}})"
          ng-repeat="allSchedule in listInterviewScheduleAll">
          <div class="row">
            <div class="col">
              <h2>{{allSchedule.applicantSelection.applicant.name}}</h2>
              <p>{{allSchedule.applicantSelection.jobRequisition}}</p>
              <p>{{allSchedule.schedule | date: 'dd MMM yyyy HH:mm'}}</p>
            </div>
            <div class="col col-center">
              <img ng-if="allSchedule.result === 'Pass'" src="img/talents/mobile-interview/passInterview-32px.png"
                style="float: right;">
              <img
                ng-if="allSchedule.result === 'In Progress' || allSchedule.result == '' || allSchedule.result == null"
                src="img/talents/mobile-interview/onProgressSchedule-32px.png" style="float: right;">
              <img ng-if="allSchedule.result === 'Failed'" src="img/talents/mobile-interview/failInterview-32px.png"
                style="float: right;">
              <img ng-if="allSchedule.result === 'Skip'" src="img/talents/mobile-interview/skipInterview-32px.png"
                style="float: right;">
              <img ng-if="allSchedule.result === 'Divert'" src="img/talents/mobile-interview/referInterview-32px.png"
                style="float: right;">
            </div>
          </div>
        </div>
        <div class="item" ng-if="listInterviewScheduleAll.length == 0">
          <div class="col col-100">
            <h2>No schedule available</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>

    </ion-scroll>
  </ion-content>
</ion-view>
