<ion-view title="Profile" class="bg-lightgrey">
  <ion-content class="has-header bt-grey profile" scroll="false">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'profile' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('profile')"><b>Profile</b></div>
      <div class="col font-thin" ng-class="module.type === 'education' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('education')"><b>Education</b></div>
      <div class="col font-thin" ng-class="module.type === 'organization' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('organization')"><b>Organization</b></div>
      <div class="col font-thin" ng-class="module.type === 'working' ? 'text-medium balanced bb' : ''" ng-click="chooseTab('working')"><b>Working</b></div>
    </div>

    <ion-scroll class="bg-lightgrey" direction="y" style="height:95%">
      <div ng-if="module.type === 'profile'">
        <div class="header">
          <img ng-src="{{dataProfile.photo}}">
          <h2 class="lead text-medium">{{dataProfile.name}}</h2>
          <p class="text-medium">{{dataApp.applicantSelection.jobRequisition}}</p>
        </div>

        <div class="card">
        <div class="item item-text-wrap">
          <div class="row row-center">
            <div class="col">
              <div class="row row-center">
                <img src="img\talents\mobile-interview\profile\birthdate-32px.png">
                <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Place / Date of Birth</b></h2>
              </div>
            </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.cityOfBirth}}, {{dataProfile.dateOfBirth | date: "dd MMM yyyy"}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\gender-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Gender</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.gender}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\religion-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Religion</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.religion}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
            <div class="col">
              <div class="row row-center">
                <img src="img\talents\mobile-interview\profile\maritalStatus-32px.png">
                <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Marital Status</b></h2>
              </div>
            </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.maritalStatus}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
            <div class="col">
              <div class="row row-center">
                <img src="img\talents\mobile-interview\profile\marriedDate-32px.png">
                <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Married Date</b></h2>
              </div>
            </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.marriedDate | date: "dd MMM yyyy"}}</p>
            </div>
          </div>
        </div>
        <div class="item item-divider">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\contactInformation-32px.png">
                  <h2 class="stable" style="display: inline-block;margin-left: 27px;"><b>Contact Information</b></h2>
                </div>
              </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
            <div class="col">
              <div class="row row-center">
                <img src="img\talents\mobile-interview\profile\homePhone-32px.png">
                <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Home Phone</b></h2>
              </div>
            </div>
            <div class="col text-right">
              <p class="text-medium text-right">{{dataProfile.homePhone}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\mobilePhone-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Mobile Phone</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.mobilePhone}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\email-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Email</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.emailAddress}}</p>
            </div>
          </div>
        </div>
        <div class="item item-divider">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\addressMain-32px.png">
                  <h2 class="stable" style="display: inline-block;margin-left: 27px;"><b>Address</b></h2>
                </div>
              </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\address-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Address</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.address}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\country-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Country</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.country}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
            <div class="col">
              <div class="row row-center">
                <img src="img\talents\mobile-interview\profile\province-32px.png">
                <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Province</b></h2>
              </div>
            </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.provinceOfBirth}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\district-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>District</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.district}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\city-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>City</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.city}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\profile\zipCode-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Zip Code</b></h2>
                </div>
              </div>
            <div class="col text-right">
              <p class="text-medium">{{dataProfile.zipCode}}</p>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div ng-if="module.type === 'education'">
        <div class="header">
          <img ng-src="{{dataProfile.photo}}">
          <h2 class="lead text-medium">{{dataProfile.name}}</h2>
          <p class="text-medium">{{dataApp.applicantSelection.jobRequisition}}</p>
        </div>


        <div class="card" ng-repeat="edu in dataEducation">

          <div class="item item-text-wrap" >
            <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\education\university-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>University / School</b></h2>
                </div>
              </div>
              <div class="col text-right">
                <p class="text-medium">{{edu.university}}</p>
              </div>
            </div>
          </div>



          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\education\degree-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Degree</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{edu.degree}}</p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\education\faculty-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Faculty</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{edu.faculty}}</p>
              </div>
            </div>
          </div>


          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\education\major-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Major</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{edu.major}}</p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\education\year-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Year</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{edu.fromYear}} - {{edu.toYear}}</p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center" >
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\education\gpa-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>GPA</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{edu.gpa}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div ng-if="module.type === 'organization'">
        <div class="header">
          <img ng-src="{{dataProfile.photo}}">
          <h2 class="lead text-medium">{{dataProfile.name}}</h2>
          <p class="text-medium">{{dataApp.applicantSelection.jobRequisition}}</p>
        </div>
        <!-- <div class="item item-divider">
          <div class="row row-center">
            <div class="col">
              <div class="row row-center">
                <img src="img\talents\mobile-interview\organization\organization-32px.png">
                <h2 class="stable" style="display: inline-block;margin-left: 27px;"><b>Organization</b></h2>
              </div>
            </div>
          </div>
        </div> -->

        <div class="card" ng-repeat="orgn in dataOrganization">
          <div class="item item-text-wrap">
            <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\organization\organization-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Organization</b></h2>
                </div>
              </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.name}}</p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\organization\position-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Position</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.position}}</p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\organization\role-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Role</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.roleFunction}}</p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\organization\scope-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Scope</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.scope}}</p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\organization\fromyear-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>From Year</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.fromYear}}</p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\organization\toyear-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>To Year</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.toYear}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="module.type === 'working'">
        <div class="header">
          <img ng-src="{{dataProfile.photo}}">
          <h2 class="lead text-medium">{{dataProfile.name}}</h2>
          <p class="text-medium">{{dataApp.applicantSelection.jobRequisition}}</p>
        </div>
        <!-- <div class="item item-divider">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\working\company-32px.png">
                    <h2 class="stable" style="display: inline-block;margin-left: 27px;"><b>Company</b></h2>
                  </div>
                </div>
            </div>
        </div> -->
        <div class="card" ng-repeat="orgn in dataWork">

          <div class="item item-text-wrap">
            <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\working\company-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Company</b></h2>
                </div>
              </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.company}}</p>
              </div>
            </div>
          </div>

           <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\working\position-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Position</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.position}}</p>
              </div>
            </div>
          </div>




          <div class="item item-text-wrap">
            <div class="row row-center">
                <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\working\jobStatus-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Job Status</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.jobStatus}}</p>
              </div>
            </div>
          </div>

          <div class="item item-text-wrap">
            <div class="row row-center">
              <div class="col">
                <div class="row row-center">
                  <img src="img\talents\mobile-interview\working\period-32px.png">
                  <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Period</b></h2>
                </div>
              </div>
              <div class="col text-right">
                <p class="text-medium">{{orgn.periodStart | date: "dd MMM yyyy" }} - {{orgn.periodEnd | date: "dd MMM yyyy" }} </p>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row row-center">
              <div class="col">
                  <div class="row row-center">
                    <img src="img\talents\mobile-interview\working\salary-32px.png">
                    <h2 class="lead text-medium" style="display: inline-block;margin-left: 27px;"><b>Salary</b></h2>
                  </div>
                </div>
              <div class="col text-right">
                <p class="text-medium">Rp. {{orgn.salary  | number:0 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>



<!--       <div ng-if="module.type === 'document'">
        <div class="header">
          <img ng-src="{{dataProfile.photo}}">
          <h2 class="lead text-medium">{{dataProfile.name}}</h2>
          <p class="text-medium">Functional Manager</p>
        </div>
        <div class="item item-divider">
          Supporting Document
        </div>
        <div class="item item-text-wrap">
          <div class="row">
              
              <div class="input-field col padding">
              </div>
              <div class="input-field col padding">
                <a class="col button center padding positive-bg" style="width: 80px;float: right; border-radius: 50%;color: white;"><i class="icons ion-plus"></i></a> 
              </div>
          </div>
        </div>

        <div ng-repeat="orgn in dataWork">
          <div class="item item-text-wrap">
            <div class="row">
              <div class="input-field col padding">
                <h2 class="lead text-medium"><b>Pisikotest Score</h2>
              </div>
              <div class="input-field col padding">
                 <button class="button button-icon"><i class="icon ion-trash-a"></i></button>
                 <button class="button button-icon"><i class="icon ion-android-download"></i></button>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class="input-field col padding">
                <h2 class="lead text-medium"><b>Transcript</h2>
              </div>
              <div class="input-field col padding">
                 <button class="button button-icon"><i class="icon ion-trash-a"></i></button>
                 <button class="button button-icon"><i class="icon ion-android-download"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
 -->

    </ion-scroll>
  </ion-content>

</ion-view>
