<ion-view title="Supporting Document" class="bg-lightgrey">

  <div class="bar bar-header item-input-inset">
    <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalAddDocument();">
      <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
    </button>
  </div>
  <ion-content class="has-header bt-grey assertive">
    <div class="item padding">
      <div class="item item-divider">New Supporting Document</div>
      <div class="row">
        <div class="input-field col">
          <p for="document_name">Document Name*</p>
          <input placeholder="Enter Document Name" type="text" class="validate" 
            ng-model="supportingDocument.name"
            ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <p>Document <span style="font-size:12px;color:red">(Max file size 5 MB)</span></p>
          <!-- <input id="inputImage" type="file" ng-show="appMode=='web'" accept="image/*,.pdf" ng-model="image" 
            image="image" ng-image-compress />
          <input id="inputImage" type="file" ng-show="appMode=='mobile'" ng-model="image" 
            image="image" ng-image-compress /> -->
          <input type="file" ng-show="appMode=='web'" accept="image/*,application/pdf" 
            ngf-select ng-model="dataFile" name="file" required
            ngf-model-invalid="errorFile">
          <input type="file" ng-show="appMode=='mobile'" ngf-select ng-model="dataFile" name="file" required
            ngf-model-invalid="errorFile">
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect button-medium waves-light button button-balanced button-block" ng-click="uploadDocument(dataFile)">SUBMIT</button>
      </div>
    </div>
  </ion-content>

</ion-view>