<ion-view title="Benefit">
  <ion-content padding="true" class="has-header materialize" scroll="true">
    <div class="bg-lightgrey">
      <div class="card hybrid">
        <div class="item item-text-wrap item-icon-right" ui-sref="app.submitclaim">
          <h2 class="lead text-meidum" style="padding-left:0px">Request</h2>
          <i class="icon ion-ios-arrow-right pull-right"></i>
        </div>
      </div>
      <div class="card hybrid">
        <div class="item item-text-wrap item-icon-right" ui-sref="app.benefitclaimlist">
          <h2 class="lead text-meidum" style="padding-left:0px">List</h2>
          <i class="icon ion-ios-arrow-right pull-right"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
