<ion-view title="SPD Advance">
  <ion-content padding="true" class="has-header materialize">
    <form name="form" novalidate>
      <div class="item padding">
        <div class="row">
          <div class="input-field col">
            <input id="disabled" type="text" class="validate" ng-model="detail.origin" name="origin"
              ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/">
            <font color="red" style="font-size: 10px"><span ng-show="form.origin.$invalid">Should not contain any
                special characters</span></font>
            <label for="Origin">Origin</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col">
            <input id="disabled" type="text" class="validate" ng-model="detail.destination" name="destination"
              ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/">
            <label for="destination">Destination</label>
            <font color="red" style="font-size: 10px"><span ng-show="form.destination.$invalid">Should not contain any
                special characters</span></font>
          </div>
        </div>
        <div class="row">
          <div class="input-field col padding-horizontal">
            <p>Start Date</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()">
              {{requestHeader.startDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
          <div class="input-field col">
            <p>End Date</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker1()">
              {{requestHeader.endDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
        </div>

        <div class="row">
          <div class="input-field col">
            <p>SPD Type</p>
            <select ng-model="detail.spdType" style="font-size:13px">
              <option value="">-- Select SPD Type --</option>
              <option ng-repeat="option in arrSpdType track by $index">{{option.id}}</option>
            </select>

          </div>
        </div>

        <div class="row">
          <div class="input-field col">
            <p>Estimated Expenses & Items </p>
            <textarea placeholder="eg. Hotel Rp. 400.000, Ticket Rp. 200.000 "
              style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="2"
              ng-model="detail.data" maxlength="240" name="estimated" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
            <font color="red" style="font-size: 10px"><span ng-show="form.estimated.$invalid">Should not contain any
                special characters</span></font>

          </div>
        </div>

        <div class="row">
          <div class="input-field col">
            <p>Total Amount</p>
            <input id="disabled" ng-keyup="change($event,$index)" type="tel" class="validate" ng-model="detail.amount">

          </div>
        </div>

        <div class="row">
          <div class="input-field col">
            <p>Remark</p>
            <textarea placeholder="eg. Business trip"
              style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="2"
              ng-model="detail.remark" maxlength="240" name="remark" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
            <font color="red" style="font-size: 10px"><span ng-show="form.remark.$invalid">Should not contain any
                special characters</span></font>

          </div>
        </div>


      </div>

      <div class="row">
        <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light"
          style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()"
          ng-disabled="form.$invalid">Submit</button>
      </div>
    </form>
  </ion-content>
</ion-view>
