<ion-view title="Profile" class="bg-lightgrey">

    <ion-nav-buttons side="right">
        <button class="button button-dark button-clear icon ion-ios-compose-outline" ui-sref="app.edit-profile"></button>
    </ion-nav-buttons>

    <ion-content class="has-header bt-grey profile" scroll="true">
        <div class="header">
            <img ng-src="{{general.userPhoto}}">
            <!--<span class="badge badge-balanced">3</span>-->
            <h2 class="lead text-medium">{{profile.fullName}}</h2>
            <p >{{profile.employeeTransient.assignment.organizationName}}</p>
        </div>

        <div class="list">
            <div class="item item-divider">
                Information
            </div>


            <div class="item item-text-wrap" >
                <p class="text-small">Employee No</p>
                <h2 class="lead text-medium" >{{profile.employeeTransient.assignment.employeeNo}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Performance Value</p>
                <h2 class="lead text-medium" >{{profile.performValue}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Email</p>
                <h2 class="lead text-medium" >{{profile.employeeTransient.officeMail}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Handphone</p>
                <h2 class="lead text-medium" >{{profile.employeeTransient.mobilePhone}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Company</p>
                <h2 class="lead text-medium" >{{profile.company.name}}</h2>
            </div>
            <div class="item item-divider">
                Settings
            </div>
            <div class="item item-icon-left item-icon-right" ui-sref="app.changepassword" >
                <i class="icon ion-ios-locked-outline"></i>
                <h2 class="lead text-medium" >Change Password</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
        <!--
        <div class="row">
                <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ui-sref="app.changepassword">Change Password</button>
        </div>-->
    </ion-content>
</ion-view>