<ion-modal-view hide-nav-bar="true" class="dailyTestClass" style="background:linear-gradient(#0570B9, #0570B9);">
    
    <ion-content scroll="true">
        
        <div ng-form="dailyTestForm" class="padding text-center" novalidate>
            <p class="text-right">
                <i class="icon ion-close placeholder-icon" ng-click="closeSoal()">
                </i>
            </p>
            <div class="modal-header d-flex justify-content-center">
                <h4 style="color:white">Daily Quiz</h4>
                <h5 style="color:white">{{start_at | date}}</h5>
            </div>
            
            <br/>
            <div class="item item-text-wrap">
                <h5 class="text-left" style="text-align: justify; font-size:14px">
                    {{ question }}
                </h5>
            </div>
            <br/>
            <ion-list>
                    <ion-radio class="item-text-wrap text-left" style="text-align: justify;" ng-model="soal.answer" ng-repeat="r in radioButtons" ng-checked="r.checked" ng-value="r.value" ><b>{{r.opsi}}.</b> {{r.text}}</ion-radio>  
            </ion-list>
        </div>
        <ion-grid>
            
            <ion-row>
                <center>
                <button class="button button-positive  waves-effect waves-light" ng-disabled="disableButton" ng-click="submitForm()">
                    <ion-row>
                        Answer
                    </ion-row>
                </button>
                </center>
            </ion-row>
        </ion-grid>
        <br/>
    </ion-content>
</ion-modal-view>