<ion-modal-view hide-nav-bar="true" class="dailyTestClass" style="background:linear-gradient(#0570B9, #0570B9);">

  <ion-content scroll="true">

    <div ng-form="dailyTestForm" class="padding text-center" novalidate>
      <p class="text-right">
        <i class="icon ion-close placeholder-icon" ng-click="closeModal()">
        </i>
      </p>

      <div class="modal-header d-flex justify-content-center">
        <h4 style="color:white">Surat Pernyataan Peraturan Perusahaan</h4>
      </div>

      <br />
      <div class="item item-text-wrap">
        <div class="container text-left">
          <br />
          Berikut Link untuk melihat Peraturan Perusahaan :
          <br />
          <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light"
            style="font-weight:bold; background-color:#00BFFF; width: fit-content;" ng-click="openPP()">
            Link
          </button>
          <div style="background-color: #fff3f0; color: red; line-height: 1.5; font-size:10px; border-style:none; text-align: justify;" class="item"><b>Disclaimer:</b>
            <br />
            Silahkan membaca Peraturan Perusahaan ACC {{periode}} melalui link di atas ini sebelum Anda submit Surat Pernyataan.
          </div>
          <br />

          <div style="text-align: left;">Yang bertandatangan di bawah ini:</div>
          <br />
          <table style="width: 100%;">
            <tr>
              <td>Nama</td>
              <td>:</td>
              <td><b>{{profile.employeeTransient.name}}</b></td>
            </tr>
            <tr>
              <td>NPK</td>
              <td>:</td>
              <td><b>{{profile.employeeTransient.assignment.employeeNo}}</b></td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td>:</td>
              <td><b>{{item.address}}</b></td>
            </tr>
            <tr>
              <td>Dept/Cabang/Bagian</td>
              <td>:</td>
              <td><b>{{profile.employeeTransient.assignment.division}}</b></td>
            </tr>
            <tr>
              <td>PT</td>
              <td>:</td>
              <td><b>{{profile.employeeTransient.assignment.legalEntityName}}</b></td>
            </tr>
          </table>
          <br />
          <br />
          <div style="text-align: justify;">
            Dengan ini menyatakan bahwa saya telah membaca, memahami, dan menyetujui seluruh isi dari buku Peraturan
            Perusahaan ACC tahun {{periode}}, serta berjanji untuk mematuhi seluruh peraturan yang berlaku dengan segala
            konsekuensinya.

            <br />
            <br />
            <br />
            Jakarta, {{nDate | date:'dd MMMM yyyy'}}
            <br />
            Yang menyatakan,
            <br />
            <br />
            <b>{{profile.employeeTransient.name}}</b>
            <br />
            <br />
            <b>Catatan:</b>
            <br />
            Demikian Surat Pernyataan ini saya buat, dengan mengklik tombol submit.
          </div>

          <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light"
            style="font-weight:bold;background-color:#00BFFF;" ng-click="acceptButton()">
            Submit
          </button>
        </div>
        <br />
      </div>
      <ion-grid>
      </ion-grid>
      <br />
  </ion-content>
</ion-modal-view>
