<ion-view title="Administration" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-help-circled" ng-click="downloadUserGuide()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header materialize">
    <br />
    <div class=" item item-divider uppercase">
      Settings
    </div>
    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact rounded card-menu-shadow" ui-sref="app.adminsecuritygroups">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/32_security_groups.png">
            <br>
            <span class="text-small">Security Groups</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <!-- <div class="card contact rounded card-menu-shadow" ui-sref="app.admincatitem">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_information.png">
            <br>
            <span class="text-small">Categories & Items</span>
          </div>
        </div> -->
      </div>
    </div>
    <br />

    <!-- <div class=" item item-divider uppercase">
      Transaction History
    </div>
    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact rounded card-menu-shadow" ui-sref="app.adminrequestsub({submodule:'SPD Advance'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_advance_42.png"><br>
            <span class="text-small">SPD Advance</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <div class="card contact rounded card-menu-shadow" ui-sref="app.adminrequestsub({submodule:'SPD Realization'})">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_realization_42.png"><br>
            <span class="text-small">SPD Realization</span>
          </div>
        </div>
      </div>
    </div> -->

  </ion-content>
</ion-view>
