<ion-view title="Check In/Out Subordinates">
    <ion-content class="has-header" scroll="false">
      <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
          <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
          </ion-refresher>
          
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()">
                {{filterDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>

            <div class="bg-lightgrey">
                <div class="card hybrid" style="padding:0px 0px">
                <div class="item item-icon-left" ng-repeat="subordinates in dataSubordinates">
                    
                <div class="right">
                    <h2 class="text-medium" ng-if="subordinates.isOutOfOffice">Out Of Office</h2>
                    <h2 class="text-medium" ng-if="!subordinates.isOutOfOffice">In The Office</h2>
                    <!-- use formatting from backend -->
                    <!-- <h2>{{subordinates.actualTime | date:'HH:mm'}}</h2> -->
                    <h2>{{subordinates.actualTimeString}}</h2>
                </div>
                
                <div class ="positive" ng-if="!subordinates.isOutOfOffice">
                    <i class="col icon ion-home"></i><br /><span class="text-small">{{subordinates.actualTime | date:'dd MMMM yyyy'}}
                    <!-- <ion-icon name="business"><h6 class="">{{daily.actualTime | date:'dd MMMM yyyy'}}</h6></ion-icon> -->
                </div>
                <div class ="positive" ng-if="subordinates.isOutOfOffice">
                    <i class="icon ion-briefcase"></i><br /><span class="text-small">{{subordinates.actualTime | date:'dd MMMM yyyy'}}</span>
                </div>
                <div class="inner-content">
                    
                    <h2 class="text-medium">{{subordinates.employee.fullName}}</h2>
                    <h2 class="text-medium" ng-if="subordinates.type == 'CHECKIN'">Check In</h2>
                    <h2 class="text-medium" ng-if="subordinates.type == 'CHECKOUT'">Check Out</h2>
                    <!-- <h2 class="text-medium" ng-if="subordinates.purpose != null">Purpose : {{subordinates.purpose}}</h2> -->
                    <h2 class="text-medium" ng-if="subordinates.purpose != null && subordinates.purpose =='TRN'">Purpose : Training/Seminar</h2>
                    <h2 class="text-medium" ng-if="subordinates.purpose != null && subordinates.purpose == 'MTGL'">Purpose : Meeting</h2>
                    <h2 class="text-medium" ng-if="subordinates.purpose != null && subordinates.purpose =='DNS'">Purpose : Perjalanan Dinas</h2>
                    <h2 class="text-medium" ng-if="subordinates.purpose == null || subordinates.purpose == ''"></h2>
                    <h2 class="text-medium" ng-if="subordinates.remark != null">Remark : {{subordinates.remark}}</h2>
                    <h2 class="text-medium" ng-if="subordinates.remark == null || subordinates.remark == ''"></h2>
                </div>
                
              </div>
            </div>
            <div>
                <!-- <div class="row">
                    <button ng-disabled="isFirst();" ng-click="loadPrevSubordinates();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
                    <button ng-disabled="isLast();" ng-click="loadMoreSubordinates();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
                </div>      -->
                
                <div class="item" ng-if="dataSubordinates.length == 0">
                    <div class="col col-100">
                        <h2>No data available</h2>
                        <p>Please Pull to refresh</p>
                    </div>
                </div>
                <!-- <div class="item" style="padding-top:0px;min-height:120px">
                        <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMoreSubordinates()">Load More Results</button>
                </div> -->

                <div class="item" ng-if="dataSubordinates.length != 0" ng-show="!isLast()" style="padding-top:0px;min-height:120px">
                    <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMoreSubordinates()">Load More Results</button>
                </div>
            </div>
          </div>
      </ion-scroll>
    </ion-content>
</ion-view>
  